workflows/07_reporting/REPORT__DailySummary.json
{
  "name": "REPORT__DailySummary",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "a3779b19-9b0c-4bc2-ab62-44761c7dfb4a",
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        48,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery"
      },
      "id": "6fe79a0d-853b-476b-ab4c-5b03133f3e7d",
      "name": "Emails Processed",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        272,
        304
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "goFlWTHKylYQ7NES",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery"
      },
      "id": "dde72945-f447-4a29-907d-58d83e1a41b6",
      "name": "Tasks Metrics",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        304
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "goFlWTHKylYQ7NES",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery"
      },
      "id": "56c2377b-d873-4da4-9821-c76cb4fab933",
      "name": "AI Usage",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        704,
        304
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "goFlWTHKylYQ7NES",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery"
      },
      "id": "30d74a88-5310-4c1a-9cb1-fa130780751e",
      "name": "Errors Count",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        928,
        304
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "goFlWTHKylYQ7NES",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery"
      },
      "id": "3f178ddd-a5ce-4802-94a8-4db5133eb582",
      "name": "Approvals Status",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1152,
        304
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "goFlWTHKylYQ7NES",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function firstJson(nodeName) {\n  try {\n    return $(nodeName).first().json || {};\n  } catch (e) {\n    return {};\n  }\n}\n\nfunction numberValue(value) {\n  if (value === null || value === undefined || value === '') return 0;\n  const number = Number(value);\n  return Number.isFinite(number) ? number : 0;\n}\n\nconst now = new Date();\nconst reportDate = now.toISOString().slice(0, 10);\nconst emails = firstJson('Emails Processed');\nconst tasks = firstJson('Tasks Metrics');\nconst ai = firstJson('AI Usage');\nconst errors = firstJson('Errors Count');\nconst approvals = firstJson('Approvals Status');\n\nconst metrics = {\n  report_date: reportDate,\n  period: {\n    label: 'last_24_hours',\n    generated_at: now.toISOString()\n  },\n  emails: {\n    processed: numberValue(emails.count)\n  },\n  tasks: {\n    created: numberValue(tasks.created),\n    completed: numberValue(tasks.completed),\n    overdue: numberValue(tasks.overdue)\n  },\n  ai_usage: {\n    total_calls: numberValue(ai.total_calls),\n    total_input_tokens: numberValue(ai.total_input_tokens),\n    total_output_tokens: numberValue(ai.total_output_tokens),\n    total_cost: numberValue(ai.total_cost),\n    avg_latency_ms: Math.round(numberValue(ai.avg_latency))\n  },\n  errors: {\n    count: numberValue(errors.count)\n  },\n  approvals: {\n    pending: numberValue(approvals.pending),\n    approved: numberValue(approvals.approved)\n  }\n};\n\nconst metricsTable = [\n  `Daily Operations Report - ${reportDate}`,\n  '',\n  'Metrics',\n  `Emails processed: ${metrics.emails.processed}`,\n  `Tasks created: ${metrics.tasks.created}`,\n  `Tasks completed: ${metrics.tasks.completed}`,\n  `Open overdue tasks: ${metrics.tasks.overdue}`,\n  `AI calls: ${metrics.ai_usage.total_calls}`,\n  `AI input tokens: ${metrics.ai_usage.total_input_tokens}`,\n  `AI output tokens: ${metrics.ai_usage.total_output_tokens}`,\n  `AI cost: $${metrics.ai_usage.total_cost.toFixed(4)}`,\n  `Average AI latency: ${metrics.ai_usage.avg_latency_ms} ms`,\n  `Errors: ${metrics.errors.count}`,\n  `Approvals pending: ${metrics.approvals.pending}`,\n  `Approvals approved: ${metrics.approvals.approved}`\n].join('\\n');\n\nreturn [{\n  json: {\n    date: reportDate,\n    metrics,\n    metrics_json: JSON.stringify(metrics, null, 2),\n    metrics_table: metricsTable\n  }\n}];"
      },
      "id": "f78ad46f-df76-4818-bf8b-05a29c23d741",
      "name": "Build Metrics Object",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        304
      ]
    },
    {
      "parameters": {
        "workflowId": "n8dUKBJ3yMSedWTk",
        "mode": "each",
        "options": {}
      },
      "id": "ee31afc4-b91f-41cc-83da-ef54001c18b8",
      "name": "Generate AI Summary",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1584,
        304
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "folderId": "=11916k96B3ayO6AXsuhiBEMw_OMZx9ui",
        "title": "=Daily Operations Report — {{ $('Build Metrics Object').item.json.date }}"
      },
      "id": "7b8c71be-1f9e-4c8f-82a5-9892c78d2a39",
      "name": "Create Report",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 1,
      "position": [
        1808,
        304
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "M0irLW7pgiSyGw4r",
          "name": "Google Docs OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "nERkPtt59rc5Gfbm",
        "mode": "each",
        "options": {}
      },
      "id": "f274677e-4f18-4722-b411-ff40cd58fbfe",
      "name": "Notify Executives",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2032,
        304
      ]
    },
    {
      "parameters": {
        "workflowId": "jCqmfSwQOsGcrJDa",
        "mode": "each",
        "options": {}
      },
      "id": "11356466-437e-4c31-a011-db491de9c73f",
      "name": "Audit Log",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2240,
        304
      ]
    },
    {
      "parameters": {
        "content": "## REPORT__DailySummary\nDaily 8:00 AM executive operations report.\n\n- Aggregates email, task, AI usage, error, and approval metrics\n- Generates executive summary via UTIL__AICall\n- Creates a Google Doc report\n- Notifies #executive-updates\n- Writes an audit log entry",
        "height": 504,
        "width": 2456,
        "color": 3
      },
      "id": "0d63affa-2cae-43d8-8c4d-05afc171f238",
      "name": "Workflow Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Emails Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emails Processed": {
      "main": [
        [
          {
            "node": "Tasks Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tasks Metrics": {
      "main": [
        [
          {
            "node": "AI Usage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Usage": {
      "main": [
        [
          {
            "node": "Errors Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Errors Count": {
      "main": [
        [
          {
            "node": "Approvals Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approvals Status": {
      "main": [
        [
          {
            "node": "Build Metrics Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Metrics Object": {
      "main": [
        [
          {
            "node": "Generate AI Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate AI Summary": {
      "main": [
        [
          {
            "node": "Create Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Report": {
      "main": [
        [
          {
            "node": "Notify Executives",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Executives": {
      "main": [
        [
          {
            "node": "Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "Fa1qAUIxfJj6SjfY",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false
  },
  "versionId": "425e5c98-c9e0-4f24-bb10-3a198d188485",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "139ce20edbcea09d90a1c08060a8c9b48d3304d3001c573472319fb5fdf7461e"
  },
  "id": "FL1osvOgkenc4cWR",
  "tags": []
}
