workflows/07_reporting/REPORT__WeeklyDigest.json
{
  "name": "REPORT__WeeklyDigest",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "20c1516b-db37-433f-9d4b-acd4b0f14d17",
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        48,
        320
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery"
      },
      "id": "62f902eb-6623-4caa-b868-12f00445b969",
      "name": "Emails Processed",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        272,
        320
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "goFlWTHKylYQ7NES",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery"
      },
      "id": "d006ab45-044b-48c3-885c-42526f502c9c",
      "name": "Tasks Metrics",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        320
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "goFlWTHKylYQ7NES",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery"
      },
      "id": "45ec1de8-4684-4a5f-9916-59fd7fa87c11",
      "name": "AI Usage",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        704,
        320
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "goFlWTHKylYQ7NES",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery"
      },
      "id": "00c7757a-76db-46b4-9fa3-5a98f4e02ee6",
      "name": "Errors Count",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        928,
        320
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "goFlWTHKylYQ7NES",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery"
      },
      "id": "1dd66591-98c3-4c83-9556-c7905b5b7ed8",
      "name": "Approvals Status",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1152,
        320
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "goFlWTHKylYQ7NES",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery"
      },
      "id": "ab881874-23f7-4647-a7db-7766d0087fa5",
      "name": "Last Week Comparison",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1360,
        320
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "goFlWTHKylYQ7NES",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function firstJson(nodeName) {\n  try {\n    return $(nodeName).first().json || {};\n  } catch (e) {\n    return {};\n  }\n}\n\nfunction numberValue(value) {\n  if (value === null || value === undefined || value === '') return 0;\n  const number = Number(value);\n  return Number.isFinite(number) ? number : 0;\n}\n\nfunction pctChange(current, previous) {\n  if (previous === 0 && current === 0) return 0;\n  if (previous === 0) return 100;\n  return Number((((current - previous) / previous) * 100).toFixed(2));\n}\n\nfunction completionRate(metrics) {\n  return metrics.tasks.created === 0\n    ? 0\n    : Number(((metrics.tasks.completed / metrics.tasks.created) * 100).toFixed(2));\n}\n\nfunction errorRate(metrics) {\n  const operationalVolume = metrics.emails.processed + metrics.tasks.created + metrics.ai_usage.total_calls;\n  return operationalVolume === 0\n    ? 0\n    : Number(((metrics.errors.count / operationalVolume) * 100).toFixed(2));\n}\n\nconst now = new Date();\nconst reportDate = now.toISOString().slice(0, 10);\nconst emails = firstJson('Emails Processed');\nconst tasks = firstJson('Tasks Metrics');\nconst ai = firstJson('AI Usage');\nconst errors = firstJson('Errors Count');\nconst approvals = firstJson('Approvals Status');\nconst previous = firstJson('Last Week Comparison');\n\nconst thisWeek = {\n  report_date: reportDate,\n  period: {\n    label: 'last_7_days',\n    generated_at: now.toISOString()\n  },\n  emails: {\n    processed: numberValue(emails.count)\n  },\n  tasks: {\n    created: numberValue(tasks.created),\n    completed: numberValue(tasks.completed),\n    overdue: numberValue(tasks.overdue)\n  },\n  ai_usage: {\n    total_calls: numberValue(ai.total_calls),\n    total_input_tokens: numberValue(ai.total_input_tokens),\n    total_output_tokens: numberValue(ai.total_output_tokens),\n    total_cost: numberValue(ai.total_cost),\n    avg_latency_ms: Math.round(numberValue(ai.avg_latency))\n  },\n  errors: {\n    count: numberValue(errors.count)\n  },\n  approvals: {\n    pending: numberValue(approvals.pending),\n    approved: numberValue(approvals.approved)\n  }\n};\n\nconst lastWeek = {\n  period: {\n    label: 'previous_7_days'\n  },\n  emails: {\n    processed: numberValue(previous.emails_processed)\n  },\n  tasks: {\n    created: numberValue(previous.tasks_created),\n    completed: numberValue(previous.tasks_completed),\n    overdue: numberValue(previous.tasks_overdue)\n  },\n  ai_usage: {\n    total_calls: numberValue(previous.ai_total_calls),\n    total_input_tokens: numberValue(previous.ai_total_input_tokens),\n    total_output_tokens: numberValue(previous.ai_total_output_tokens),\n    total_cost: numberValue(previous.ai_total_cost),\n    avg_latency_ms: Math.round(numberValue(previous.ai_avg_latency))\n  },\n  errors: {\n    count: numberValue(previous.errors_count)\n  },\n  approvals: {\n    pending: numberValue(previous.approvals_pending),\n    approved: numberValue(previous.approvals_approved)\n  }\n};\n\nconst trends = {\n  emails_change_pct: pctChange(thisWeek.emails.processed, lastWeek.emails.processed),\n  tasks_completion_rate_change: Number((completionRate(thisWeek) - completionRate(lastWeek)).toFixed(2)),\n  error_rate_change: Number((errorRate(thisWeek) - errorRate(lastWeek)).toFixed(2)),\n  ai_cost_change: pctChange(thisWeek.ai_usage.total_cost, lastWeek.ai_usage.total_cost),\n  this_week_completion_rate: completionRate(thisWeek),\n  last_week_completion_rate: completionRate(lastWeek),\n  this_week_error_rate: errorRate(thisWeek),\n  last_week_error_rate: errorRate(lastWeek)\n};\n\nconst metrics = {\n  this_week: thisWeek,\n  last_week: lastWeek,\n  trends\n};\n\nconst metricsTable = [\n  `Weekly Operations Digest - ${reportDate}`,\n  '',\n  'This Week',\n  `Emails processed: ${thisWeek.emails.processed}`,\n  `Tasks created: ${thisWeek.tasks.created}`,\n  `Tasks completed: ${thisWeek.tasks.completed}`,\n  `Open overdue tasks: ${thisWeek.tasks.overdue}`,\n  `AI calls: ${thisWeek.ai_usage.total_calls}`,\n  `AI cost: $${thisWeek.ai_usage.total_cost.toFixed(4)}`,\n  `Errors: ${thisWeek.errors.count}`,\n  `Approvals pending: ${thisWeek.approvals.pending}`,\n  `Approvals approved: ${thisWeek.approvals.approved}`,\n  '',\n  'Trends vs Previous Week',\n  `Emails change: ${trends.emails_change_pct}%`,\n  `Task completion rate change: ${trends.tasks_completion_rate_change} points`,\n  `Error rate change: ${trends.error_rate_change} points`,\n  `AI cost change: ${trends.ai_cost_change}%`\n].join('\\n');\n\nreturn [{\n  json: {\n    date: reportDate,\n    metrics,\n    trends,\n    metrics_json: JSON.stringify(metrics, null, 2),\n    metrics_table: metricsTable\n  }\n}];"
      },
      "id": "ac1cd4c2-7c69-43c8-aa25-11eb4ad55971",
      "name": "Calculate Trends",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        320
      ]
    },
    {
      "parameters": {
        "workflowId": "n8dUKBJ3yMSedWTk",
        "mode": "each",
        "options": {}
      },
      "id": "4c629880-b201-42dd-865d-517e407bebb4",
      "name": "Generate AI Digest",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1808,
        320
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "folderId": "=1FDviUefWBnLwtiszKdovh9yfuFU4Vzin",
        "title": "=Weekly Operations Digest - {{ $('Calculate Trends').item.json.date }}"
      },
      "id": "60de2c68-476c-4bda-b13b-2904df290e95",
      "name": "Create Weekly Digest",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 1,
      "position": [
        2032,
        320
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "M0irLW7pgiSyGw4r",
          "name": "Google Docs OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "nERkPtt59rc5Gfbm",
        "mode": "each",
        "options": {}
      },
      "id": "be7dea12-44d8-40f6-a0e5-3e5f861e8a61",
      "name": "Notify Executives",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2240,
        320
      ]
    },
    {
      "parameters": {
        "workflowId": "jCqmfSwQOsGcrJDa",
        "mode": "each",
        "options": {}
      },
      "id": "0cbaf1b8-5807-4054-b67d-e3d56e95f3ff",
      "name": "Audit Log",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2464,
        320
      ]
    },
    {
      "parameters": {
        "content": "## REPORT__WeeklyDigest\nMonday 9:00 AM executive weekly operations digest.\n\n- Aggregates seven-day email, task, AI usage, error, and approval metrics\n- Compares against the previous seven-day period\n- Calculates trend percentages and rate changes\n- Generates a strategic digest via UTIL__AICall\n- Creates a Google Doc and notifies #executive-updates",
        "height": 524,
        "width": 2692,
        "color": 4
      },
      "id": "6674930a-76e2-43f3-970d-192e371ecf02",
      "name": "Workflow Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Emails Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emails Processed": {
      "main": [
        [
          {
            "node": "Tasks Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tasks Metrics": {
      "main": [
        [
          {
            "node": "AI Usage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Usage": {
      "main": [
        [
          {
            "node": "Errors Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Errors Count": {
      "main": [
        [
          {
            "node": "Approvals Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approvals Status": {
      "main": [
        [
          {
            "node": "Last Week Comparison",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Last Week Comparison": {
      "main": [
        [
          {
            "node": "Calculate Trends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Trends": {
      "main": [
        [
          {
            "node": "Generate AI Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate AI Digest": {
      "main": [
        [
          {
            "node": "Create Weekly Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Weekly Digest": {
      "main": [
        [
          {
            "node": "Notify Executives",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Executives": {
      "main": [
        [
          {
            "node": "Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "Fa1qAUIxfJj6SjfY",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "7a1c540c-0571-409d-bbde-21b15d46a591",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "139ce20edbcea09d90a1c08060a8c9b48d3304d3001c573472319fb5fdf7461e"
  },
  "id": "q22LQULET4OoBYva",
  "tags": []
}