workflows/02_error_handling/ERROR__GlobalHandler.json
{
  "name": "ERROR__GlobalHandler",
  "nodes": [
    {
      "parameters": {},
      "id": "c57f24bb-da5b-4ffc-a43c-504152acd0eb",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -432,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const workflowName = $input.first().json.workflow.name;\nconst executionId = $input.first().json.execution.id;\nconst errorNode = $input.first().json.execution.error ? $input.first().json.execution.error.node : {};\nconst failedNode = errorNode.name || $input.first().json.execution.lastNodeExecuted || \"Unknown\";\nconst errorMessage = $input.first().json.execution.error ? $input.first().json.execution.error.message : \"Unknown Error\";\nconst executionLink = `https://edwin-bayog.app.n8n.cloud/workflow/executions/${executionId}`;\n\nreturn {\n  workflowName,\n  executionId,\n  failedNode,\n  errorMessage,\n  executionLink\n};"
      },
      "id": "f0156004-97d3-404f-a845-72f2b6bf496c",
      "name": "Extract Error Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        96
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0B62LSRCF8",
          "mode": "id"
        },
        "text": "=🚨 *Workflow Failed*\n*Workflow:* {{$json.workflowName}}\n*Failed Node:* {{$json.failedNode}}\n*Error:* {{$json.errorMessage}}\n*Execution:* {{$json.executionLink}}",
        "otherOptions": {}
      },
      "id": "c98b32f0-9e58-438f-8101-2f5960868bdb",
      "name": "Send Error Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        16,
        0
      ],
      "webhookId": "392574f4-139d-427e-9371-832abb8e3dc9",
      "credentials": {
        "slackApi": {
          "id": "0QT3vEsrQsq6Pr7G",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "workflow_logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "workflow_name",
              "fieldValue": "={{$json.workflowName}}"
            },
            {
              "fieldId": "execution_id",
              "fieldValue": "={{$json.executionId}}"
            },
            {
              "fieldId": "log_type",
              "fieldValue": "error"
            },
            {
              "fieldId": "action",
              "fieldValue": "workflow_failed"
            },
            {
              "fieldId": "error_message",
              "fieldValue": "{{$json.errorMessage}}"
            },
            {
              "fieldId": "input_payload",
              "fieldValue": "={{JSON.stringify($('Error Trigger').first().json)}}"
            },
            {
              "fieldId": "status",
              "fieldValue": "failure"
            }
          ]
        }
      },
      "id": "005d9162-86ba-4184-a7fa-5a7d8a7bfc51",
      "name": "Log Error to Dead Letter Queue",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        16,
        192
      ],
      "credentials": {
        "supabaseApi": {
          "id": "goFlWTHKylYQ7NES",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Error Global Handler\n\n**Purpose:** Centralized error monitoring and logging system that captures workflow failures across all n8n workflows.\n\n**Process:**\n1. **Error Trigger** - Automatically fires when any workflow in the instance fails\n2. **Extract Error Context** - Parses error details including workflow name, execution ID, failed node, error message, and generates execution link\n3. **Send Error Alert** - Posts formatted error notification to Slack channel with all relevant details\n4. **Log Error to Dead Letter Queue** - Persists error record to Supabase workflow_logs table for audit trail and analysis\n\n**Outputs:** Real-time Slack alerts + persistent error logs in database",
        "height": 640,
        "width": 768,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -528,
        -256
      ],
      "id": "fee1ba60-26e8-4206-9aef-c51a4a7f91b2",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Extract Error Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Error Context": {
      "main": [
        [
          {
            "node": "Send Error Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Error to Dead Letter Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9b1a6b7e-6acb-4ce2-a45c-b08036ac585f",
  "meta": {
    "instanceId": "139ce20edbcea09d90a1c08060a8c9b48d3304d3001c573472319fb5fdf7461e"
  },
  "id": "Fa1qAUIxfJj6SjfY",
  "tags": []
}