workflows/06_tasks/TASK__Escalate.json
{
  "name": "TASK__Escalate",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "0 * * * *"
            }
          ]
        }
      },
      "id": "74bc3cf8-e6d8-4440-875f-f0c9f8178795",
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        48,
        384
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "getMany",
        "tableId": "tasks",
        "returnAll": true,
        "filterType": "manual",
        "matchUi": {
          "matchValues": [
            {
              "matchColumn": "status",
              "matchOperator": "neq",
              "matchValue": "completed"
            }
          ]
        }
      },
      "id": "4d17d011-19ae-4ab5-865a-31a089de2932",
      "name": "Query Overdue Unescalated",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 2,
      "position": [
        272,
        384
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "goFlWTHKylYQ7NES",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "query-returned-task-row",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8dd6067b-2b87-41ec-b7a7-5b5dfcfdaca5",
      "name": "Any Tasks to Escalate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "const now = Date.now();\n\nconst items = $input.all().filter(item => item.json && item.json.id);\nconst validItems = [];\n\nfor (const item of items) {\n  const task = item.json;\n  \n  if (task.escalated_at) continue;\n  if (task.status === 'completed') continue;\n\n  const deadlineTime = task.deadline ? new Date(task.deadline).getTime() : null;\n  if (!deadlineTime) continue;\n\n  const hoursOverdue = Math.max(0, Math.floor((now - deadlineTime) / (1000 * 60 * 60)));\n  if (hoursOverdue < 24) continue;\n\n  const assigneeName = task.assignee_name || task.assignee_email || 'Unassigned';\n  const deadline = task.deadline || 'No deadline';\n\n  validItems.push({\n    json: {\n      ...task,\n      hours_overdue: hoursOverdue,\n      manager_message: `🚨 *Task Escalation*\\n*Task:* ${task.title || 'Untitled task'}\\n*Assigned to:* ${assigneeName}\\n*Deadline:* ${deadline} (overdue by ${hoursOverdue} hours)\\n*Priority:* Upgraded to CRITICAL`,\n      ops_message: `🚨 *Task Escalated*\\n*Task:* ${task.title || 'Untitled task'}\\n*Assigned to:* ${assigneeName}\\n*Manager:* ${task.manager_name || 'No manager on file'}\\n*Deadline:* ${deadline}\\n*Overdue:* ${hoursOverdue} hours\\n*Priority:* Upgraded to CRITICAL`\n    }\n  });\n}\n\nreturn validItems;"
      },
      "id": "8f21b2df-5091-4d2c-8394-b76cfeec1786",
      "name": "Prepare Escalation Details",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        272
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "03c77551-b32b-4c5e-85b0-b9fd93e0afd4",
      "name": "Escalate Each",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        928,
        272
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "tasks",
        "matchColumns": "id",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "escalated_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            },
            {
              "fieldId": "priority",
              "fieldValue": "critical"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "8f41f777-e15c-4f64-8de6-f80244e7d58e",
      "name": "Mark Escalated",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1152,
        272
      ],
      "credentials": {
        "supabaseApi": {
          "id": "goFlWTHKylYQ7NES",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "manager-slack-exists",
              "leftValue": "={{ $('Escalate Each').item.json.manager_slack_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fb0dd4c6-a0b4-45fe-8c1f-27a9a7371881",
      "name": "Manager Has Slack?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1360,
        272
      ]
    },
    {
      "parameters": {
        "workflowId": "nERkPtt59rc5Gfbm",
        "mode": "each",
        "options": {}
      },
      "id": "94676d37-6721-4dc0-ade8-2257543ce975",
      "name": "Notify Manager",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1584,
        160
      ]
    },
    {
      "parameters": {
        "workflowId": "nERkPtt59rc5Gfbm",
        "mode": "each",
        "options": {}
      },
      "id": "afa7ca19-7385-4157-a6d8-cdb9aa87f8b9",
      "name": "Alert Ops Channel",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1792,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "let prepared = [];\ntry {\n  prepared = $('Prepare Escalation Details').all().map(item => item.json).filter(task => task && task.id);\n} catch (e) {\n  prepared = [];\n}\n\nreturn [{\n  json: {\n    audit_payload: {\n      escalated_count: prepared.length,\n      task_ids: prepared.map(task => task.id),\n      manager_notifications: prepared.filter(task => task.manager_slack_id).length,\n      ops_alerts: prepared.length\n    }\n  }\n}];"
      },
      "id": "2d72ef5d-d64c-4eeb-bee4-e18f3ad24485",
      "name": "Build Audit Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        480
      ]
    },
    {
      "parameters": {
        "workflowId": "jCqmfSwQOsGcrJDa",
        "mode": "each",
        "options": {}
      },
      "id": "94995233-bc4c-43d1-85e4-77d35a05801e",
      "name": "Audit Log",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        912,
        480
      ]
    },
    {
      "parameters": {
        "content": "## TASK__Escalate\nHourly escalation workflow.\n\n- Finds open tasks overdue by more than 24 hours\n- Marks each task escalated and upgrades priority to critical\n- Notifies the assignee's manager when manager_slack_id exists\n- Alerts #ops-alerts for every escalation\n- Writes one audit log entry per run",
        "height": 660,
        "width": 2008,
        "color": 6
      },
      "id": "a4dffe90-8f44-48e6-94a7-14814cf84fad",
      "name": "Workflow Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Query Overdue Unescalated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Overdue Unescalated": {
      "main": [
        [
          {
            "node": "Any Tasks to Escalate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Tasks to Escalate?": {
      "main": [
        [
          {
            "node": "Prepare Escalation Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Audit Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Escalation Details": {
      "main": [
        [
          {
            "node": "Escalate Each",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalate Each": {
      "main": [
        [
          {
            "node": "Mark Escalated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Escalated": {
      "main": [
        [
          {
            "node": "Manager Has Slack?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manager Has Slack?": {
      "main": [
        [
          {
            "node": "Notify Manager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alert Ops Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Manager": {
      "main": [
        [
          {
            "node": "Alert Ops Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Ops Channel": {
      "main": [
        [
          {
            "node": "Escalate Each",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Audit Payload": {
      "main": [
        [
          {
            "node": "Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "43dca6a7-2537-42b2-bbd1-e6d703f6d5d1",
  "meta": {
    "instanceId": "139ce20edbcea09d90a1c08060a8c9b48d3304d3001c573472319fb5fdf7461e"
  },
  "id": "c51T7RfiQp9o3BSa",
  "tags": []
}