workflows/06_tasks/TASK__SendReminders.json
{
  "name": "TASK__SendReminders",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "62bdf347-c837-452c-a2de-073bb10925bd",
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        48,
        320
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery"
      },
      "id": "2d9a48a8-7e1c-4294-91de-2b0622db6671",
      "name": "Query Upcoming Tasks",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        272,
        240
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "goFlWTHKylYQ7NES",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery"
      },
      "id": "4dae59ee-bcd6-4a56-8c92-6f333e1ab0a2",
      "name": "Query Overdue Tasks",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        272,
        448
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "goFlWTHKylYQ7NES",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "id": "77951ca1-8604-483a-a0a5-bf02e59dcedc",
      "name": "Merge Query Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        480,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const upcomingItems = $('Query Upcoming Tasks').all().map(item => item.json).filter(task => task && task.id);\nconst overdueItems = $('Query Overdue Tasks').all().map(item => item.json).filter(task => task && task.id);\n\nconst groups = new Map();\n\nfunction getGroup(task) {\n  const slackUserId = task.slack_user_id;\n  if (!slackUserId) return null;\n\n  if (!groups.has(slackUserId)) {\n    groups.set(slackUserId, {\n      slack_user_id: slackUserId,\n      assignee_name: task.name || task.email || 'there',\n      email: task.email || null,\n      overdue: [],\n      upcoming: []\n    });\n  }\n\n  return groups.get(slackUserId);\n}\n\nfunction formatDate(value) {\n  if (!value) return 'No deadline';\n  const date = new Date(value);\n  if (Number.isNaN(date.getTime())) return value;\n  return date.toISOString().replace('T', ' ').slice(0, 16) + ' UTC';\n}\n\nfunction formatTask(task) {\n  const priority = task.priority ? task.priority.toUpperCase() : 'MEDIUM';\n  const title = task.title || 'Untitled task';\n  return `• [${priority}] ${title} — due ${formatDate(task.deadline)}`;\n}\n\nfor (const task of overdueItems) {\n  const group = getGroup(task);\n  if (group) group.overdue.push(task);\n}\n\nfor (const task of upcomingItems) {\n  const group = getGroup(task);\n  if (group) group.upcoming.push(task);\n}\n\nconst reminderGroups = [...groups.values()].map(group => {\n  const overdueList = group.overdue.length > 0\n    ? group.overdue.map(formatTask).join('\\n')\n    : '_No overdue tasks_';\n  const upcomingList = group.upcoming.length > 0\n    ? group.upcoming.map(formatTask).join('\\n')\n    : '_No upcoming tasks due in the next 48 hours_';\n\n  return {\n    json: {\n      slack_user_id: group.slack_user_id,\n      assignee_name: group.assignee_name,\n      email: group.email,\n      overdue_count: group.overdue.length,\n      upcoming_count: group.upcoming.length,\n      overdue_list: overdueList,\n      upcoming_list: upcomingList,\n      message: `⏰ *Daily Task Reminder*\\n\\n*Overdue (${group.overdue.length}):*\\n${overdueList}\\n\\n*Upcoming (${group.upcoming.length}):*\\n${upcomingList}`\n    }\n  };\n});\n\nif (reminderGroups.length === 0) {\n  return [{\n    json: {\n      no_reminders: true,\n      overdue_count: overdueItems.length,\n      upcoming_count: upcomingItems.length,\n      skipped_without_slack: [...overdueItems, ...upcomingItems].filter(task => !task.slack_user_id).length\n    }\n  }];\n}\n\nreturn reminderGroups;"
      },
      "id": "67f5932b-816a-4bdd-803c-ea274f9b2826",
      "name": "Group by Assignee",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-reminder-groups",
              "leftValue": "={{ $json.no_reminders }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3232ae64-c1eb-4673-b61e-910fbdeaf1c9",
      "name": "Has Reminder Groups?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        928,
        320
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "0b15ca8c-1028-441e-97c3-3564fda886f4",
      "name": "Send Reminders",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        1200,
        208
      ]
    },
    {
      "parameters": {
        "workflowId": "nERkPtt59rc5Gfbm",
        "mode": "each",
        "options": {}
      },
      "id": "2491a962-0125-43bf-aaa9-2175e9ba4857",
      "name": "Send Reminder",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1392,
        208
      ]
    },
    {
      "parameters": {
        "workflowId": "jCqmfSwQOsGcrJDa",
        "mode": "each",
        "options": {}
      },
      "id": "58f27d1a-e75c-448c-b837-7ebc8ae023e4",
      "name": "Audit Log",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1200,
        416
      ]
    },
    {
      "parameters": {
        "content": "## TASK__SendReminders\nDaily 9:00 AM task reminder workflow.\n\n- Queries upcoming tasks due within 48 hours\n- Queries overdue open tasks\n- Groups reminders by users.slack_user_id\n- Sends Slack DMs via UTIL__SendSlackMessage\n- Writes an audit log entry",
        "height": 636,
        "width": 1592,
        "color": 2
      },
      "id": "5ac9b99c-ac87-4e31-8e89-20a6c6fb9abf",
      "name": "Workflow Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Query Upcoming Tasks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Query Overdue Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Upcoming Tasks": {
      "main": [
        [
          {
            "node": "Merge Query Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Overdue Tasks": {
      "main": [
        [
          {
            "node": "Merge Query Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Query Results": {
      "main": [
        [
          {
            "node": "Group by Assignee",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group by Assignee": {
      "main": [
        [
          {
            "node": "Has Reminder Groups?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Reminder Groups?": {
      "main": [
        [
          {
            "node": "Send Reminders",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reminders": {
      "main": [
        [
          {
            "node": "Send Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reminder": {
      "main": [
        [
          {
            "node": "Send Reminders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "Fa1qAUIxfJj6SjfY",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "9fda8fc1-74d5-4636-9006-ba2f5863a82d",
  "meta": {
    "instanceId": "139ce20edbcea09d90a1c08060a8c9b48d3304d3001c573472319fb5fdf7461e"
  },
  "id": "02xGHF5Lb5WrWymj",
  "tags": []
}