workflows/04_meetings/MEET__ProcessTranscript.json
{
  "name": "MEET__ProcessTranscript",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1b7XjZHtgh7GyjUTgu3WmSKe4afpohkYR",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        2688,
        512
      ],
      "typeVersion": 1,
      "id": "fc3a39de-163a-4db2-8558-6f0634ba3608",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "P4ItnczlmD9WHDuQ",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isDuplicate }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Skip if Duplicate",
      "type": "n8n-nodes-base.if",
      "position": [
        3136,
        512
      ],
      "typeVersion": 1,
      "id": "8a29685a-ac4b-4e1e-8dc6-2af18cfd9ad5"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $('Google Drive Trigger').item.json.id }}",
        "options": {}
      },
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        3360,
        512
      ],
      "typeVersion": 2,
      "id": "219c60ea-b406-4180-bc4c-880e4c8bbd79",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "P4ItnczlmD9WHDuQ",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  const fileName = $('Google Drive Trigger').item.json.name || '';\n  let text = '';\n\n  // Detect file type and extract text\n  if (item.binary && item.binary.data) {\n    if (fileName.endsWith('.docx')) {\n      // Use n8n's built-in binary parsing or assume binary data provides parsed text \n      text = Buffer.from(item.binary.data.data, 'base64').toString('utf8');\n    } else {\n      // For .txt, Google Docs (exported as text), .vtt, .srt\n      text = Buffer.from(item.binary.data.data, 'base64').toString('utf8');\n    }\n  } else {\n    text = item.json.content || item.json.text || '';\n  }\n\n  // Strip timestamps for subtitle files\n  if (fileName.endsWith('.vtt') || fileName.endsWith('.srt')) {\n    text = text.replace(/\\d{2}:\\d{2}:\\d{2}[.,]\\d{3}\\s*-->\\s*\\d{2}:\\d{2}:\\d{2}[.,]\\d{3}/g, '')\n               .replace(/^\\d+$/gm, '')\n               .replace(/\\n{3,}/g, '\\n\\n');\n  }\n\n  item.json.transcript_text = text;\n}\nreturn $input.all();"
      },
      "name": "Extract Text",
      "type": "n8n-nodes-base.code",
      "position": [
        3584,
        512
      ],
      "typeVersion": 2,
      "id": "9812d04f-1ce5-43f7-919e-f68829388230"
    },
    {
      "parameters": {
        "workflowId": "n8dUKBJ3yMSedWTk",
        "mode": "each",
        "options": {}
      },
      "name": "Summarize",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        3808,
        512
      ],
      "typeVersion": 1,
      "id": "58bb1777-ebda-4ea3-974a-a7199bfb73d9"
    },
    {
      "parameters": {
        "workflowId": "4X61hx5ltgqOE8mb",
        "mode": "each",
        "options": {}
      },
      "name": "Extract Actions",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        4032,
        512
      ],
      "typeVersion": 1,
      "id": "89fa4564-7f01-4e31-b414-238cbf83bdf5"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "folderId": "1b7XjZHtgh7GyjUTgu3WmSKe4afpohkYR",
        "title": "=Meeting Summary — {{ $('Summarize').item.json.response?.title || 'Untitled' }} — {{ new Date().toLocaleDateString() }}"
      },
      "name": "Create Summary Doc",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        4256,
        512
      ],
      "typeVersion": 1,
      "id": "bd66dfa4-f391-4395-b747-0c4f3681c15d",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "M0irLW7pgiSyGw4r",
          "name": "Google Docs OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "nERkPtt59rc5Gfbm",
        "mode": "each",
        "options": {}
      },
      "name": "Notify Team",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        4480,
        512
      ],
      "typeVersion": 1,
      "id": "ff6dbf7e-697e-4429-b167-79ac833bab4c"
    },
    {
      "parameters": {
        "content": "## Process Transcript\n\nAutomatically processes meeting transcripts uploaded to Google Drive:\n\n1. **Monitor** - Watches specific folder for new transcript files (.txt, .docx, .vtt, .srt)\n2. **Deduplicate** - Checks if file has already been processed\n3. **Download** - Retrieves file content from Google Drive\n4. **Extract** - Parses text and removes timestamps from subtitle formats\n5. **Summarize** - Generates meeting summary using AI\n6. **Extract Actions** - Identifies action items and decisions\n7. **Create Doc** - Saves formatted summary to Google Docs\n8. **Notify** - Alerts team members of new summary\n9. **Audit** - Logs processing activity for compliance",
        "height": 560,
        "width": 2288,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2608,
        128
      ],
      "id": "d392218d-d9af-44c6-85c4-85325dae8307",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "workflowId": "rIRBjduPjTFXnn81",
        "mode": "each",
        "options": {}
      },
      "name": "Deduplicate",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        2912,
        512
      ],
      "typeVersion": 1,
      "id": "ead27ee2-3f54-475e-9fff-00ee456c8aee"
    },
    {
      "parameters": {
        "workflowId": "jCqmfSwQOsGcrJDa",
        "mode": "each",
        "options": {}
      },
      "name": "Audit Log",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        4704,
        512
      ],
      "typeVersion": 1,
      "id": "d5f5a992-78b1-46cc-9ee3-5ed0dd38059c"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip if Duplicate": {
      "main": [
        [],
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Extract Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Extract Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Actions": {
      "main": [
        [
          {
            "node": "Create Summary Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Summary Doc": {
      "main": [
        [
          {
            "node": "Notify Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Team": {
      "main": [
        [
          {
            "node": "Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate": {
      "main": [
        [
          {
            "node": "Skip if Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "Fa1qAUIxfJj6SjfY",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "79c50dea-a52c-431c-b649-0b50e7a87735",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "139ce20edbcea09d90a1c08060a8c9b48d3304d3001c573472319fb5fdf7461e"
  },
  "id": "CpXv8Are7dDLolBo",
  "tags": []
}