workflows/04_meetings/MEET__ExtractActions.json
{
  "name": "MEET__ExtractActions",
  "nodes": [
    {
      "parameters": {},
      "id": "009193a4-d4de-4257-bf95-4101b12605f5",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -656,
        -32
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7775ec95-e51e-4d18-8015-e4362afe3221",
      "name": "Prepare AI Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -432,
        -32
      ]
    },
    {
      "parameters": {
        "workflowId": "n8dUKBJ3yMSedWTk",
        "options": {}
      },
      "id": "5ac8b077-331a-472f-8996-fea00cae80d0",
      "name": "AI Extract",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -208,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "const responseText = $json.response || $json.content || '{}';\nlet parsed = { action_items: [], decisions: [], risks: [] };\ntry {\n  const jsonStr = responseText.replace(/```json/gi, '').replace(/```/g, '').trim();\n  parsed = JSON.parse(jsonStr);\n} catch (e) {}\n\nreturn { json: parsed };"
      },
      "id": "750e3228-068c-4a8f-af7d-3c460965787d",
      "name": "Parse Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        -32
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.action_items ? $json.action_items.length : 0 }}",
              "operation": "larger"
            }
          ]
        }
      },
      "id": "dde04452-f674-4d4e-a6f0-66c462742fb2",
      "name": "IF has actions",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        240,
        -32
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "action_items",
        "options": {}
      },
      "id": "bdf90d60-4ab5-4241-a793-55ca6dbb38b2",
      "name": "Split Action Items",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        464,
        -128
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "db8f7ae4-ec4b-4462-92ae-c97182b5a00d",
      "name": "Create Tasks",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        688,
        -128
      ]
    },
    {
      "parameters": {
        "operation": "insert"
      },
      "id": "ab49f5e3-ceba-4a43-95c0-b56ce4b163d2",
      "name": "Insert Task",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        912,
        -128
      ],
      "credentials": {
        "supabaseApi": {
          "id": "goFlWTHKylYQ7NES",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Parse Results').first().json;\n\nlet taskIds = [];\ntry {\n  const supabaseItems = $('Insert Task').all();\n  if (supabaseItems && supabaseItems.length > 0) {\n    taskIds = supabaseItems.map(item => item.json.id).filter(id => id !== undefined);\n  }\n} catch(e) {}\n\nreturn {\n  json: {\n    action_items_count: parsed.action_items ? parsed.action_items.length : 0,\n    decisions_count: parsed.decisions ? parsed.decisions.length : 0,\n    risks_count: parsed.risks ? parsed.risks.length : 0,\n    task_ids: taskIds\n  }\n};"
      },
      "id": "a7df225e-8a92-42fd-800f-3a48efda252d",
      "name": "Return Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        64
      ]
    },
    {
      "parameters": {
        "content": "## Extract Actions\n\nThis workflow processes meeting transcripts to extract action items, decisions, and risks using AI.\n\n**Flow:**\n1. Receives transcript data from parent workflow\n2. Prepares input for AI extraction\n3. Calls AI Extract workflow to analyze content\n4. Parses JSON response containing action items, decisions, and risks\n5. If action items exist, splits them and creates individual tasks in Supabase\n6. Returns summary with counts and created task IDs",
        "height": 544,
        "width": 1792,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -704,
        -320
      ],
      "id": "f11c8ba4-0135-4ff7-b0d5-776cc9084df7",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Prepare AI Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Input": {
      "main": [
        [
          {
            "node": "AI Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Extract": {
      "main": [
        [
          {
            "node": "Parse Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Results": {
      "main": [
        [
          {
            "node": "IF has actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF has actions": {
      "main": [
        [
          {
            "node": "Split Action Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Action Items": {
      "main": [
        [
          {
            "node": "Create Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Tasks": {
      "main": [
        [
          {
            "node": "Insert Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Task": {
      "main": [
        [
          {
            "node": "Create Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "Fa1qAUIxfJj6SjfY",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "c5db940b-32f6-4cfb-8422-86cc3be731ae",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "139ce20edbcea09d90a1c08060a8c9b48d3304d3001c573472319fb5fdf7461e"
  },
  "id": "4X61hx5ltgqOE8mb",
  "tags": []
}