workflows/01_utilities/UTIL__AICall.json
{
  "name": "UTIL__AICall",
  "nodes": [
    {
      "parameters": {},
      "id": "8957a0b4-b2f2-4d06-80e7-47355d83917d",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        640,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst pref = item.model_preference || 'fast';\n\nlet primary_model = \"openrouter/free\";\nlet is_embedding = false;\n\nif (pref === 'embedding') {\n  primary_model = \"sentence-transformers/all-MiniLM-L6-v2\";\n  is_embedding = true;\n}\n\nreturn {\n  json: {\n    ...item,\n    primary_model,\n    is_embedding,\n    start_time: Date.now()\n  }\n};"
      },
      "id": "90d2a002-8e33-4a58-8be3-98cdb0dcad3d",
      "name": "Select Model",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.is_embedding }}",
              "value2": true
            }
          ]
        }
      },
      "id": "fa64f4e1-ffdd-4068-9394-94a212cc262c",
      "name": "Is Embedding?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1088,
        -80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-inference.huggingface.co/pipeline/feature-extraction/sentence-transformers/all-MiniLM-L6-v2",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "huggingFaceApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ inputs: [$json.prompt] }) }}",
        "options": {}
      },
      "id": "e9855a41-83c8-4357-8ab4-032ace5b2908",
      "name": "Generate Embedding (Hugging Face)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1760,
        -224
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XXmyXa4zZBlya10W",
          "name": "Header Auth account"
        },
        "huggingFaceApi": {
          "id": "mKrpkSxZm8GGRLio",
          "name": "Hugging Face account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst body = {\n  model: item.primary_model,\n  messages: [\n    { role: \"system\", content: item.system_message || \"You are a helpful assistant.\" },\n    { role: \"user\", content: item.prompt }\n  ]\n};\n\nif (item.max_tokens) {\n  body.max_tokens = item.max_tokens;\n}\n\nif (item.output_format === 'json') {\n  body.response_format = { type: \"json_object\" };\n}\n\nreturn { json: { ...item, request_body: body } };"
      },
      "id": "56f9e587-95d3-42ec-927e-692df20364bd",
      "name": "Prepare Chat Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        -16
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.system_message || 'You are a helpful assistant.' }}"
            }
          ]
        }
      },
      "id": "2e8a82ef-2cb1-4bca-b536-1893f01c16dc",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1520,
        -16
      ],
      "settings": {
        "continueOnFail": true
      }
    },
    {
      "parameters": {
        "model": "={{ $json.primary_model }}",
        "options": {}
      },
      "id": "4d10073c-d766-4595-94c4-7814f08fa4c5",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1536,
        208
      ],
      "credentials": {
        "openRouterApi": {
          "id": "bQsT6DYTg5L6QhOR",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const original = $('Select Model').first().json;\nconst incomingData = $input.first().json;\n\nlet aiOutput = '';\nlet promptTokens = 0;\nlet completionTokens = 0;\nlet modelUsed = original.primary_model;\n\nif (original.is_embedding) {\n  aiOutput = incomingData; \n} else {\n  if (incomingData.text) {\n    aiOutput = incomingData.text;\n    promptTokens = incomingData.metadata?.usage?.prompt_tokens || 0;\n    completionTokens = incomingData.metadata?.usage?.completion_tokens || 0;\n  } else {\n    aiOutput = \"ERROR: \" + JSON.stringify(incomingData);\n  }\n}\n\nconst latencyMs = Date.now() - original.start_time;\n\nreturn {\n  json: {\n    ...original,\n    response: aiOutput,\n    model_used: modelUsed,\n    tokens_input: promptTokens,\n    tokens_output: completionTokens,\n    latency_ms: latencyMs,\n    cost_usd: 0.00,\n    workflow_name: \"UTIL__AICall\",\n    log_type: \"ai_call\",\n    action: original.is_embedding ? \"ai_embedding\" : \"ai_completion\",\n    input_payload: original.prompt\n  }\n};"
      },
      "id": "82eea919-2c20-4235-9a24-8c47f52005cf",
      "name": "Calculate Usage",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        -80
      ]
    },
    {
      "parameters": {
        "workflowId": "jCqmfSwQOsGcrJDa",
        "options": {}
      },
      "id": "8b8c3cfe-91e3-46b4-90e3-1fd505b5b0f7",
      "name": "Log Usage",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2208,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "const calcData = $('Calculate Usage').first().json;\n\nreturn {\n  json: {\n    response: calcData.response,\n    model_used: calcData.model_used,\n    tokens_input: calcData.tokens_input,\n    tokens_output: calcData.tokens_output,\n    latency_ms: calcData.latency_ms,\n    cost_usd: calcData.cost_usd\n  }\n};"
      },
      "id": "d8ffdee9-6072-41ae-80d3-9a80d6653334",
      "name": "Return Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2432,
        -80
      ]
    },
    {
      "parameters": {
        "content": "## AI Call Utility Workflow (Optimized)\n\n**Purpose:** Centralized AI inference service utilizing OpenRouter auto-routing and usage tracking.\n\n**Process:**\n1. **Trigger:** Called by other workflows with AI request parameters\n2. **Model Selection:** Routes to Hugging Face (embeddings) or OpenRouter (text)\n3. **Usage Tracking:** Calculates tokens, latency, cost and logs to central analytics workflow\n4. **Response:** Returns AI output with metadata (model used, tokens, latency, cost)\n\n**Input:** `{ prompt, model_preference?, system_message?, max_tokens?, output_format? }`\n**Output:** `{ response, model_used, tokens_input, tokens_output, latency_ms, cost_usd }`",
        "height": 704,
        "width": 2116,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        528,
        -336
      ],
      "id": "dfdedbe1-32b8-451e-9fdd-c5fa8dd15dfa",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Select Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Model": {
      "main": [
        [
          {
            "node": "Is Embedding?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Embedding?": {
      "main": [
        [
          {
            "node": "Generate Embedding (Hugging Face)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Chat Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Chat Request": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Calculate Usage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embedding (Hugging Face)": {
      "main": [
        [
          {
            "node": "Calculate Usage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Usage": {
      "main": [
        [
          {
            "node": "Log Usage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Usage": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "Fa1qAUIxfJj6SjfY",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "321f96ee-37b4-4380-b7ce-bf164e674b0e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "139ce20edbcea09d90a1c08060a8c9b48d3304d3001c573472319fb5fdf7461e"
  },
  "id": "n8dUKBJ3yMSedWTk",
  "tags": []
}