workflows/01_utilities/UTIL__WriteAuditLog.json
{
  "name": "UTIL__WriteAuditLog",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "565546d2-fd9c-48c5-a538-abea624e063a",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        128,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\n// Validate required fields\nconst requiredFields = ['workflow_name', 'log_type', 'action'];\nconst missing = requiredFields.filter(f => !data[f]);\n\nif (missing.length > 0) {\n  throw new Error(`Missing required fields: ${missing.join(', ')}`);\n}\n\n// Validate log_type enum\nconst validLogTypes = ['ai_call', 'action', 'error', 'audit'];\nif (!validLogTypes.includes(data.log_type)) {\n  throw new Error(`Invalid log_type: \"${data.log_type}\". Must be one of: ${validLogTypes.join(', ')}`);\n}\n\n// Validate status enum\nconst status = data.status || 'success';\nif (!['success', 'failure'].includes(status)) {\n  throw new Error(`Invalid status: \"${status}\". Must be 'success' or 'failure'`);\n}\n\n// Prepare validated output with all fields\nreturn [{\n  json: {\n    workflow_name: data.workflow_name,\n    execution_id: data.execution_id || null,\n    log_type: data.log_type,\n    action: data.action,\n    input_payload: data.input_payload\n      ? (typeof data.input_payload === 'string' ? data.input_payload : JSON.stringify(data.input_payload))\n      : null,\n    output_payload: data.output_payload\n      ? (typeof data.output_payload === 'string' ? data.output_payload : JSON.stringify(data.output_payload))\n      : null,\n    model: data.model || null,\n    tokens_input: data.tokens_input ?? null,\n    tokens_output: data.tokens_output ?? null,\n    latency_ms: data.latency_ms ?? null,\n    cost_usd: data.cost_usd ?? null,\n    status: status,\n    error_message: data.error_message || null\n  }\n}];"
      },
      "id": "f503ca4b-2ca7-4569-8c4d-7d138f57ed65",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -96
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "workflow_logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "workflow_name",
              "fieldValue": "={{$json.workflow_name}}"
            },
            {
              "fieldId": "execution_id",
              "fieldValue": "={{$json.execution_id}}"
            },
            {
              "fieldId": "log_type",
              "fieldValue": "={{$json.log_type}}"
            },
            {
              "fieldId": "action",
              "fieldValue": "={{$json.action}}"
            },
            {
              "fieldId": "input_payload",
              "fieldValue": "={{$json.input_payload}}"
            },
            {
              "fieldId": "output_payload",
              "fieldValue": "={{$json.output_payload}}"
            },
            {
              "fieldId": "model",
              "fieldValue": "={{$json.model}}"
            },
            {
              "fieldId": "tokens_input",
              "fieldValue": "={{$json.tokens_input}}"
            },
            {
              "fieldId": "tokens_output",
              "fieldValue": "={{$json.tokens_output}}"
            },
            {
              "fieldId": "latency_ms",
              "fieldValue": "={{$json.latency_ms}}"
            },
            {
              "fieldId": "cost_usd",
              "fieldValue": "={{$json.cost_usd}}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{$json.status}}"
            },
            {
              "fieldId": "error_message",
              "fieldValue": "={{$json.error_message}}"
            }
          ]
        }
      },
      "id": "f034f78c-fa56-4f96-b4fe-9cb8e12c282c",
      "name": "Insert Log",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        576,
        -96
      ],
      "credentials": {
        "supabaseApi": {
          "id": "goFlWTHKylYQ7NES",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\n\nreturn [{\n  json: {\n    success: true,\n    log_id: result.id || null\n  }\n}];"
      },
      "id": "6b1f2698-0776-4bfb-8385-52d23eada910",
      "name": "Return Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        -96
      ]
    },
    {
      "parameters": {
        "content": "## Audit Log\n\nThis utility workflow writes structured audit logs to Supabase for tracking workflow executions, AI calls, actions, and errors.\n\n**Input Requirements:**\n- workflow_name (required)\n- log_type (required): ai_call | action | error | audit\n- action (required)\n- status (optional): success | failure\n- execution_id, input_payload, output_payload, model, tokens_input, tokens_output, latency_ms, cost_usd, error_message (all optional)\n\n**Process:**\n1. Validates required fields and enum values\n2. Normalizes payloads to JSON strings\n3. Inserts log record to workflow_logs table\n4. Returns success status with log_id",
        "height": 512,
        "width": 944,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        48,
        -448
      ],
      "id": "dccace2c-a4ab-4fda-a2ba-7b9392b4947f",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "id": "6a3a2993-6fc4-44d3-8afd-869237225609",
          "title": "Company Refund Policy — Standard Operating Procedure.txt",
          "source_type": "sop",
          "source_url": null,
          "source_file_id": "1yH7Mmj_9IDkP1aYTF9YAPC6p7aO-GQZp",
          "content_hash": "07d5a130ec221837c1817c232f71b10b43b1222eea7732dc47f508973aa7199f",
          "chunk_count": 1,
          "embedding_model": "sentence-transformers/all-MiniLM-L6-v2",
          "collection_name": "knowledge_base",
          "status": "completed",
          "created_at": "2026-05-29T03:57:46.481916",
          "processed_at": "2026-05-29T03:57:46.87",
          "updated_at": "2026-05-29T03:57:46.481916"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Insert Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Log": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "Fa1qAUIxfJj6SjfY",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "8c327270-cd47-491e-8536-37fd60962b39",
  "meta": {
    "instanceId": "139ce20edbcea09d90a1c08060a8c9b48d3304d3001c573472319fb5fdf7461e"
  },
  "id": "jCqmfSwQOsGcrJDa",
  "tags": []
}