workflows/01_utilities/UTIL__Deduplicate.json
{
  "name": "UTIL__Deduplicate",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst data = $input.first().json;\n\n// Validate required fields\nconst requiredFields = ['source', 'dedup_key', 'event_type'];\nconst missing = requiredFields.filter(f => !data[f]);\n\nif (missing.length > 0) {\n  throw new Error(`Missing required fields: ${missing.join(', ')}`);\n}\n\n// Validate source enum\nconst validSources = ['gmail', 'drive', 'webhook', 'form'];\nif (!validSources.includes(data.source)) {\n  throw new Error(`Invalid source: \"${data.source}\". Must be one of: ${validSources.join(', ')}`);\n}\n\n// Compute SHA-256 hash of source + \"|\" + dedup_key\nconst dedup_hash = crypto\n  .createHash('sha256')\n  .update(data.source + '|' + data.dedup_key)\n  .digest('hex');\n\nreturn [{\n  json: {\n    source: data.source,\n    dedup_key: data.dedup_key,\n    event_type: data.event_type,\n    dedup_hash: dedup_hash\n  }\n}];"
      },
      "id": "2ee08f27-d6b5-4fa9-bb80-340a4136e957",
      "name": "Compute Hash",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        48
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "events",
        "limit": 1,
        "filterType": "string",
        "filterString": "dedup_hash=eq.{{ $json.dedup_hash }}"
      },
      "id": "7dd3e48b-948f-44b1-bc99-a4255224ca31",
      "name": "Check Existing",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        176,
        48
      ],
      "credentials": {
        "supabaseApi": {
          "id": "goFlWTHKylYQ7NES",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dedup-check",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d7f48e24-add7-40b5-a4b6-c66dd6811063",
      "name": "Is Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "// Duplicate found — return the existing event ID\nconst existing = $('Check Existing').first().json;\n\nreturn [{\n  json: {\n    isDuplicate: true,\n    existing_event_id: existing.id\n  }\n}];"
      },
      "id": "48f79a7f-cb86-469f-8c72-1ded0ad8074d",
      "name": "Return Duplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        -48
      ]
    },
    {
      "parameters": {
        "tableId": "events",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "event_type",
              "fieldValue": "={{ $('Compute Hash').first().json.event_type }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "={{ $('Compute Hash').first().json.source }}"
            },
            {
              "fieldId": "dedup_hash",
              "fieldValue": "={{ $('Compute Hash').first().json.dedup_hash }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "processing"
            }
          ]
        }
      },
      "id": "27d15c65-dbe5-4057-ac1a-15767370bc03",
      "name": "Insert Event",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        624,
        144
      ],
      "credentials": {
        "supabaseApi": {
          "id": "goFlWTHKylYQ7NES",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// New event inserted — return the new event ID\nconst result = $input.first().json;\n\nreturn [{\n  json: {\n    isDuplicate: false,\n    event_id: result.id\n  }\n}];"
      },
      "id": "207e2f9e-0c21-4c89-b357-cf863787846d",
      "name": "Return New",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        144
      ]
    },
    {
      "parameters": {
        "content": "## Deduplicate Event\n\n**Purpose:** Prevents duplicate event processing by checking hash-based signatures against Supabase.\n\n**Process:**\n1. Compute SHA-256 hash from source + dedup_key\n2. Query Supabase events table for existing hash\n3. If duplicate found → return existing event ID\n4. If new → insert event record with \"processing\" status → return new event ID\n\n**Input Required:**\n- `source` (enum: gmail, drive, webhook, form)\n- `dedup_key` (unique identifier for the event)\n- `event_type` (type of event being processed)\n\n**Output:**\n- `isDuplicate` (boolean)\n- `existing_event_id` OR `event_id`",
        "height": 640,
        "width": 1184,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -136,
        -336
      ],
      "id": "b6edcca0-2fbd-4bfb-b014-5683451c880e",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Compute Hash": {
      "main": [
        [
          {
            "node": "Check Existing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing": {
      "main": [
        [
          {
            "node": "Is Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Duplicate?": {
      "main": [
        [
          {
            "node": "Return Duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Event": {
      "main": [
        [
          {
            "node": "Return New",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "Fa1qAUIxfJj6SjfY",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "dc73e76b-ee90-45f9-b702-baaea9ec146c",
  "meta": {
    "instanceId": "139ce20edbcea09d90a1c08060a8c9b48d3304d3001c573472319fb5fdf7461e"
  },
  "id": "rIRBjduPjTFXnn81",
  "tags": []
}