workflows/01_utilities/UTIL__Deduplicate.json
{
  "name": "UTIL__Deduplicate",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst data = $input.first().json;\n\n// Validate required fields\nconst requiredFields = ['source', 'dedup_key', 'event_type'];\nconst missing = requiredFields.filter(f => !data[f]);\n\nif (missing.length > 0) {\n  throw new Error(`Missing required fields: ${missing.join(', ')}`);\n}\n\n// Validate source enum\nconst validSources = ['gmail', 'drive', 'webhook', 'form'];\nif (!validSources.includes(data.source)) {\n  throw new Error(`Invalid source: \"${data.source}\". Must be one of: ${validSources.join(', ')}`);\n}\n\n// Compute SHA-256 hash of source + \"|\" + dedup_key\nconst dedup_hash = crypto\n  .createHash('sha256')\n  .update(data.source + '|' + data.dedup_key)\n  .digest('hex');\n\nreturn [{\n  json: {\n    source: data.source,\n    dedup_key: data.dedup_key,\n    event_type: data.event_type,\n    dedup_hash: dedup_hash\n  }\n}];"
      },
      "id": "466d865e-9104-44b1-9ac5-ce0c0389a8be",
      "name": "Compute Hash",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        160
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "events",
        "limit": 1,
        "filterType": "string",
        "filterString": "dedup_hash=eq.{{ $json.dedup_hash }}"
      },
      "id": "17b64122-cdcd-492a-9097-97a9c80d5787",
      "name": "Check Existing",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        928,
        160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "goFlWTHKylYQ7NES",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dedup-check",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "952e2c59-5528-4f5c-9469-d0a4d006c4ff",
      "name": "Is Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1152,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// Duplicate found — return the existing event ID\nconst existing = $('Check Existing').first().json;\n\nreturn [{\n  json: {\n    isDuplicate: true,\n    existing_event_id: existing.id\n  }\n}];"
      },
      "id": "1c56d0a9-60b3-470a-bc49-53761c2d477d",
      "name": "Return Duplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        64
      ]
    },
    {
      "parameters": {
        "tableId": "events",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "event_type",
              "fieldValue": "={{ $('Compute Hash').first().json.event_type }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "={{ $('Compute Hash').first().json.source }}"
            },
            {
              "fieldId": "dedup_hash",
              "fieldValue": "={{ $('Compute Hash').first().json.dedup_hash }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "processing"
            }
          ]
        }
      },
      "id": "dcf6f2a2-7d05-4c4f-ad63-fb8d5cf252c9",
      "name": "Insert Event",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1376,
        256
      ],
      "credentials": {
        "supabaseApi": {
          "id": "goFlWTHKylYQ7NES",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// New event inserted — return the new event ID\nconst result = $input.first().json;\n\nreturn [{\n  json: {\n    isDuplicate: false,\n    event_id: result.id\n  }\n}];"
      },
      "id": "98ce35e6-1afa-409e-9fcf-44ff24d01798",
      "name": "Return New",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        256
      ]
    },
    {
      "parameters": {
        "content": "## Deduplicate Event\n\n**Purpose:** Prevents duplicate event processing by checking hash-based signatures against Supabase.\n\n**Process:**\n1. Compute SHA-256 hash from source + dedup_key\n2. Query Supabase events table for existing hash\n3. If duplicate found → return existing event ID\n4. If new → insert event record with \"processing\" status → return new event ID\n\n**Input Required:**\n- `source` (enum: gmail, drive, webhook, form)\n- `dedup_key` (unique identifier for the event)\n- `event_type` (type of event being processed)\n\n**Output:**\n- `isDuplicate` (boolean)\n- `existing_event_id` OR `event_id`",
        "height": 640,
        "width": 1328,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        464,
        -240
      ],
      "id": "d4f344f1-a964-4920-83a2-6a489334e364",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        528,
        160
      ],
      "id": "e4de9080-d52a-4df9-8836-9a01b154bf4e",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Compute Hash": {
      "main": [
        [
          {
            "node": "Check Existing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing": {
      "main": [
        [
          {
            "node": "Is Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Duplicate?": {
      "main": [
        [
          {
            "node": "Return Duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Event": {
      "main": [
        [
          {
            "node": "Return New",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Compute Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "Fa1qAUIxfJj6SjfY",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "9633c474-8a20-4a5c-a48c-0c4f47f2ee86",
  "meta": {
    "instanceId": "139ce20edbcea09d90a1c08060a8c9b48d3304d3001c573472319fb5fdf7461e"
  },
  "id": "rIRBjduPjTFXnn81",
  "tags": []
}