workflows/03_email/EMAIL__ClassifyIncoming.json
{
  "name": "EMAIL__ClassifyIncoming",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "id": "42c0f9e7-6191-4a60-80b0-ec38d8218a08",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -144,
        80
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "vsyBDhf8udtZ96ed",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const email = $input.first().json;\n\nreturn [{\n  json: {\n    source: \"gmail\",\n    dedup_key: email.id,\n    event_type: \"email_incoming\"\n  }\n}];"
      },
      "id": "dfc8078c-5e52-45e0-99fb-6dbd0a27851c",
      "name": "Prepare Dedup Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        80
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rIRBjduPjTFXnn81",
          "mode": "id",
          "cachedResultUrl": "/workflow/rIRBjduPjTFXnn81"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "b1de319b-7826-4bb4-b82d-811b8bd0d01c",
      "name": "Deduplicate",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        304,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-is-duplicate",
              "leftValue": "={{ $json.isDuplicate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fc6ccab7-a7bd-482b-be03-b8d369a86e9f",
      "name": "Skip if Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        528,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const email = $('Gmail Trigger').first().json;\nconst dedup = $('Deduplicate').first().json;\n\n// Extract sender\nconst sender = email.from || '';\nconst subject = email.subject || '(no subject)';\n\n// Get body text, strip HTML if needed\nlet body = email.textPlain || email.text || '';\nif (!body && email.textHtml) {\n  body = email.textHtml.replace(/<[^>]*>/g, '').replace(/\\s+/g, ' ').trim();\n}\nif (!body && email.html) {\n  body = email.html.replace(/<[^>]*>/g, '').replace(/\\s+/g, ' ').trim();\n}\n\n// Truncate body to prevent token overflow (first 3000 chars)\nconst truncatedBody = body.length > 3000\n  ? body.substring(0, 3000) + '...'\n  : body;\n\nreturn [{\n  json: {\n    // Email metadata\n    sender: sender,\n    subject: subject,\n    body: truncatedBody,\n    receivedDate: email.date || new Date().toISOString(),\n    messageId: email.id || '',\n    threadId: email.threadId || '',\n    hasAttachments: Array.isArray(email.attachments) && email.attachments.length > 0,\n    event_id: dedup.event_id,\n    // AI call parameters (passed through to UTIL__AICall)\n    prompt: `Classify the following email.\\n\\nFrom: ${sender}\\nSubject: ${subject}\\nBody: ${truncatedBody}\\n\\nRespond with valid JSON only (no markdown, no code fences):\\n{\\n  \"category\": \"<one of: inquiry, support, sales, internal, urgent, spam>\",\\n  \"urgency\": \"<one of: high, medium, low>\",\\n  \"confidence\": <number 0.0 to 1.0>,\\n  \"summary\": \"<brief 1-sentence summary>\",\\n  \"suggested_department\": \"<one of: sales, support, engineering, management, hr>\"\\n}`,\n    system_message: \"You are an email classifier for a business operations system. Analyze the email and classify it accurately. Be conservative with urgency — only mark 'high' for time-sensitive matters. Always respond with valid JSON only.\",\n    model_preference: \"fast\",\n    output_format: \"json\"\n  }\n}];"
      },
      "id": "2fb15e96-3350-4bc0-a0e4-69956464dda1",
      "name": "Extract Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        80
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "n8dUKBJ3yMSedWTk",
          "mode": "id",
          "cachedResultUrl": "/workflow/n8dUKBJ3yMSedWTk"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "e618f97c-f945-41a0-b58a-cfc140166043",
      "name": "AI Classify",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        976,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $input.first().json;\nconst metadata = $('Extract Metadata').first().json;\n\n// Parse the AI classification response\nlet classification;\ntry {\n  const responseText = aiResponse.response || aiResponse.text || JSON.stringify(aiResponse);\n  // Clean potential markdown code fences\n  const cleaned = responseText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  classification = typeof cleaned === 'object' ? cleaned : JSON.parse(cleaned);\n} catch (e) {\n  // Fallback if parsing fails\n  classification = {\n    category: 'internal',\n    urgency: 'medium',\n    confidence: 0.0,\n    summary: 'Classification failed — manual review required',\n    suggested_department: 'support'\n  };\n}\n\n// Validate and normalize\nconst validCategories = ['inquiry', 'support', 'sales', 'internal', 'urgent', 'spam'];\nconst validUrgencies = ['high', 'medium', 'low'];\nconst validDepts = ['sales', 'support', 'engineering', 'management', 'hr'];\n\nconst category = validCategories.includes(classification.category)\n  ? classification.category : 'internal';\nconst urgency = validUrgencies.includes(classification.urgency)\n  ? classification.urgency : 'medium';\nconst confidence = typeof classification.confidence === 'number'\n  ? Math.max(0, Math.min(1, classification.confidence)) : 0.0;\nconst suggested_department = validDepts.includes(classification.suggested_department)\n  ? classification.suggested_department : 'support';\n\nreturn [{\n  json: {\n    // Email metadata (carried forward)\n    sender: metadata.sender,\n    subject: metadata.subject,\n    body: metadata.body,\n    receivedDate: metadata.receivedDate,\n    messageId: metadata.messageId,\n    threadId: metadata.threadId,\n    hasAttachments: metadata.hasAttachments,\n    event_id: metadata.event_id,\n    // Classification results\n    category: category,\n    urgency: urgency,\n    confidence: confidence,\n    summary: classification.summary || '',\n    suggested_department: suggested_department,\n    // Full classification object for storage\n    classification: {\n      category, urgency, confidence,\n      summary: classification.summary || '',\n      suggested_department\n    },\n    // AI metadata\n    model_used: aiResponse.model_used || null,\n    ai_tokens_input: aiResponse.tokens_input || null,\n    ai_tokens_output: aiResponse.tokens_output || null,\n    ai_latency_ms: aiResponse.latency_ms || null\n  }\n}];"
      },
      "id": "7a69558a-966f-4376-855e-e69938953b21",
      "name": "Parse Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        80
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "events",
        "matchColumns": "id",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id",
              "fieldValue": "={{ $json.event_id }}"
            },
            {
              "fieldId": "payload",
              "fieldValue": "={{ JSON.stringify($json.classification) }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "completed"
            },
            {
              "fieldId": "processed_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "fd551de9-1904-4200-9bf1-884ede1c5821",
      "name": "Update Event",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1424,
        80
      ],
      "credentials": {
        "supabaseApi": {
          "id": "goFlWTHKylYQ7NES",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Parse Classification').first().json;\n\n// Map department to Slack channel\n// Initially all go to #email-routing — expand per-department later\nconst departmentChannels = {\n  sales: '#email-routing',\n  support: '#email-routing',\n  engineering: '#email-routing',\n  management: '#email-routing',\n  hr: '#email-routing'\n};\n\nconst urgencyEmoji = {\n  high: '🔴',\n  medium: '🟡',\n  low: '🟢'\n};\n\nconst channel = departmentChannels[data.suggested_department] || '#email-routing';\nconst emoji = urgencyEmoji[data.urgency] || '⚪';\n\nreturn [{\n  json: {\n    channel: channel,\n    message: `📧 *New Email Classified*\\n*From:* ${data.sender}\\n*Subject:* ${data.subject}\\n*Category:* ${data.category}\\n*Urgency:* ${emoji} ${data.urgency} (confidence: ${(data.confidence * 100).toFixed(0)}%)\\n*Department:* ${data.suggested_department}\\n*Summary:* ${data.summary}`\n  }\n}];"
      },
      "id": "acb68c1d-99d2-4d48-b406-41c0cc08c1cf",
      "name": "Route to Slack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        -16
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "nERkPtt59rc5Gfbm",
          "mode": "id",
          "cachedResultUrl": "/workflow/nERkPtt59rc5Gfbm"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "e1fc6660-9b91-4625-a341-98981e3d29b5",
      "name": "Route Notification",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1872,
        -16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-confidence",
              "leftValue": "={{ $('Parse Classification').first().json.confidence }}",
              "rightValue": 0.7,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "aa40f7ea-7bce-4ea7-a7f5-6606b000c6e8",
      "name": "Low Confidence?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2096,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Parse Classification').first().json;\n\n// Flag this email for human review due to low AI confidence\nreturn [{\n  json: {\n    flagged: true,\n    reason: 'low_confidence',\n    confidence: data.confidence,\n    event_id: data.event_id,\n    sender: data.sender,\n    subject: data.subject,\n    category: data.category,\n    message: `⚠️ Low confidence classification (${(data.confidence * 100).toFixed(0)}%) needs human review.\\nFrom: ${data.sender}\\nSubject: ${data.subject}\\nCategory: ${data.category}`\n  }\n}];"
      },
      "id": "de3e2fc3-bf7d-4429-afd4-b387eaf2b1a2",
      "name": "Flag for Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        -112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-category-inquiry",
              "leftValue": "={{ $('Parse Classification').first().json.category }}",
              "rightValue": "inquiry",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "check-category-support",
              "leftValue": "={{ $('Parse Classification').first().json.category }}",
              "rightValue": "support",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "3b58560a-7749-42a5-afdf-0bcf18f5b5a9",
      "name": "Should Generate Draft?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2320,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Parse Classification').first().json;\n\n// Prepare input for EMAIL__GenerateDraft sub-workflow\nreturn [{\n  json: {\n    email_body: data.body,\n    email_subject: data.subject,\n    sender: data.sender,\n    classification: data.classification,\n    threadId: data.threadId,\n    messageId: data.messageId,\n    event_id: data.event_id\n  }\n}];"
      },
      "id": "ce8bd65b-e8a2-4990-a94a-63cad3cad934",
      "name": "Prepare Draft Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2544,
        80
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zFwK1eHHECz9VrHm",
          "mode": "id",
          "cachedResultUrl": "/workflow/zFwK1eHHECz9VrHm"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "6279ed12-b7d8-4ace-b224-885319eec4e1",
      "name": "Generate Draft",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2768,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Parse Classification').first().json;\n\n// Prepare audit log input\nreturn [{\n  json: {\n    workflow_name: \"EMAIL__ClassifyIncoming\",\n    execution_id: $execution.id,\n    log_type: \"action\",\n    action: \"email_classified\",\n    input_payload: {\n      sender: data.sender,\n      subject: data.subject,\n      messageId: data.messageId\n    },\n    output_payload: data.classification,\n    model: data.model_used,\n    tokens_input: data.ai_tokens_input,\n    tokens_output: data.ai_tokens_output,\n    latency_ms: data.ai_latency_ms,\n    status: \"success\"\n  }\n}];"
      },
      "id": "aaece370-ba94-4c25-8ee8-40e450374b5d",
      "name": "Prepare Audit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        176
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jCqmfSwQOsGcrJDa",
          "mode": "id",
          "cachedResultUrl": "/workflow/jCqmfSwQOsGcrJDa"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "5a7166d8-e145-4edb-9bed-427d91ec451a",
      "name": "Audit Log",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1872,
        176
      ]
    },
    {
      "parameters": {
        "content": "## Classify Incoming Email\n\n**Process Transcript:**\n1. Gmail Trigger monitors inbox for new messages\n2. Prepare deduplication input with email ID and source\n3. Check if email was already processed (UTIL__Deduplicate)\n4. Skip if duplicate; otherwise continue\n5. Extract metadata: sender, subject, body, attachments, dates\n6. Call AI classifier (UTIL__AICall) with structured prompt\n7. Parse classification response: category, urgency, confidence, department\n8. Update event record in Supabase with classification results\n9. Route notification to Slack #email-routing channel\n10. Check confidence score:\n    - Low confidence (<70%): Flag for human review\n    - High confidence: Check if draft reply needed\n11. Generate draft reply for inquiry/support emails (EMAIL__GenerateDraft)\n12. Log classification action to audit trail (UTIL__AuditLog)\n\n**Categories:** inquiry, support, sales, internal, urgent, spam\n**Departments:** sales, support, engineering, management, hr\n**Urgency Levels:** high, medium, low",
        "height": 768,
        "width": 3248,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -272,
        -432
      ],
      "id": "2ddd5cbc-840a-4c36-bb07-0371f81633d8",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Prepare Dedup Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Dedup Input": {
      "main": [
        [
          {
            "node": "Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate": {
      "main": [
        [
          {
            "node": "Skip if Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip if Duplicate?": {
      "main": [
        [],
        [
          {
            "node": "Extract Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Metadata": {
      "main": [
        [
          {
            "node": "AI Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Classify": {
      "main": [
        [
          {
            "node": "Parse Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Classification": {
      "main": [
        [
          {
            "node": "Update Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Event": {
      "main": [
        [
          {
            "node": "Route to Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route to Slack": {
      "main": [
        [
          {
            "node": "Route Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Notification": {
      "main": [
        [
          {
            "node": "Low Confidence?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Low Confidence?": {
      "main": [
        [
          {
            "node": "Flag for Review",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Should Generate Draft?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Generate Draft?": {
      "main": [
        [
          {
            "node": "Prepare Draft Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Draft Input": {
      "main": [
        [
          {
            "node": "Generate Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Audit": {
      "main": [
        [
          {
            "node": "Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "Fa1qAUIxfJj6SjfY",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "c0f4def4-fae8-43ec-bc02-b28b1dd05ce1",
  "meta": {
    "instanceId": "139ce20edbcea09d90a1c08060a8c9b48d3304d3001c573472319fb5fdf7461e"
  },
  "id": "zfRtOrxAsJjJ2UXx",
  "tags": []
}