workflows/05_knowledge_base/KB__IngestDocument.json
{
  "name": "KB__IngestDocument",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1AcOJD5A3-Hap_mLJuMtWXHvn0sVx_NBd",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "1e6d532b-e29c-46fc-92c3-9d1250a3d893",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        128
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "P4ItnczlmD9WHDuQ",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "rIRBjduPjTFXnn81",
        "options": {}
      },
      "id": "13f5dad6-95a8-413d-9036-3e7e9c145738",
      "name": "Deduplicate",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        0,
        128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isDuplicate }}",
              "value2": true
            }
          ]
        }
      },
      "id": "a8fb21a0-28ce-4bc0-8288-93463b5b5ef4",
      "name": "Skip if Duplicate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        224,
        128
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $('Google Drive Trigger').item.json.id }}",
        "options": {}
      },
      "id": "e0b9886a-d832-4b62-aa55-1004123ce642",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 2,
      "position": [
        448,
        128
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "P4ItnczlmD9WHDuQ",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map(item => {\n  let text = '';\n  const mimeType = item.json.mimeType || $('Google Drive Trigger').item.json.mimeType;\n  \n  if (mimeType === 'application/vnd.google-apps.document' || mimeType === 'text/plain') {\n    // Text directly from Drive\n    if (item.binary && item.binary.data) {\n       text = Buffer.from(item.binary.data.data, 'base64').toString('utf8');\n    }\n  }\n  item.json.extracted_text = text;\n  item.json.source_type = mimeType === 'application/pdf' ? 'pdf' : \n                         (mimeType === 'application/vnd.google-apps.document' ? 'google_doc' : \n                         (mimeType === 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' ? 'docx' : 'unknown'));\n  item.json.title = $('Google Drive Trigger').item.json.name;\n  item.json.source_file_id = $('Google Drive Trigger').item.json.id;\n  return item;\n});"
      },
      "id": "afbc00a5-1488-407e-88a2-9e419cf113f4",
      "name": "Extract Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst items = $input.all();\n\nreturn items.map(item => {\n  const text = item.json.extracted_text || '';\n  const hash = crypto.createHash('sha256').update(text).digest('hex');\n  item.json.content_hash = hash;\n  return item;\n});"
      },
      "id": "7163e297-563a-4088-9eca-5e97e684ba61",
      "name": "Compute Content Hash",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        128
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "documents",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "source_file_id",
              "condition": "eq",
              "keyValue": "={{ $json.source_file_id }}"
            }
          ]
        }
      },
      "id": "be816820-b7ea-4f24-a18b-048a922b971f",
      "name": "Check Existing Document",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1120,
        128
      ],
      "credentials": {
        "supabaseApi": {
          "id": "goFlWTHKylYQ7NES",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.content_hash }}",
              "value2": "={{ $('Compute Content Hash').item.json.content_hash }}"
            }
          ]
        }
      },
      "id": "553cf88d-e1f5-4b14-a209-60e4128e370c",
      "name": "Document Changed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1344,
        128
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "embeddings_metadata",
        "filters": {
          "conditions": [
            {
              "keyName": "document_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "id": "a3a9f421-8b0d-4309-8451-e84012c31bad",
      "name": "Delete Old Embeddings Metadata",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1568,
        128
      ],
      "credentials": {
        "supabaseApi": {
          "id": "goFlWTHKylYQ7NES",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert"
      },
      "id": "a8f286e5-d10e-4ce7-9054-983f9bd3dcbd",
      "name": "Upsert Document",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1792,
        128
      ],
      "credentials": {
        "supabaseApi": {
          "id": "goFlWTHKylYQ7NES",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "3zE30DDyaAnXJNPS",
        "options": {}
      },
      "id": "b9aef027-3450-484d-8445-2d0d35d24890",
      "name": "Chunk and Embed",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2016,
        128
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "documents",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "completed"
            },
            {
              "fieldId": "chunk_count",
              "fieldValue": "={{ $json.chunk_count }}"
            },
            {
              "fieldId": "processed_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "5e797388-068f-4a10-bed2-701b4e9b2c4b",
      "name": "Mark Complete",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2240,
        128
      ],
      "credentials": {
        "supabaseApi": {
          "id": "goFlWTHKylYQ7NES",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "jCqmfSwQOsGcrJDa",
        "options": {}
      },
      "id": "ef74a44a-d29c-4baf-9a0f-6d9ac307cf58",
      "name": "Audit Log",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2464,
        128
      ]
    },
    {
      "parameters": {
        "content": "## Ingest Document\n\nMonitors a Google Drive folder for new documents. When a file is created:\n1. Deduplicates to prevent reprocessing\n2. Downloads and extracts text content\n3. Computes content hash to detect changes\n4. Checks if document already exists in Supabase\n5. If changed: deletes old embeddings, upserts document record\n6. Chunks text and generates embeddings\n7. Marks document as complete and logs to audit trail",
        "height": 480,
        "width": 2960,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -280,
        -144
      ],
      "id": "b4972602-30a9-465d-b398-bac493dfaeb0",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate": {
      "main": [
        [
          {
            "node": "Skip if Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip if Duplicate": {
      "main": [
        [],
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Extract Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text": {
      "main": [
        [
          {
            "node": "Compute Content Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Content Hash": {
      "main": [
        [
          {
            "node": "Check Existing Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing Document": {
      "main": [
        [
          {
            "node": "Document Changed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Changed?": {
      "main": [
        [],
        [
          {
            "node": "Delete Old Embeddings Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Embeddings Metadata": {
      "main": [
        [
          {
            "node": "Upsert Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Document": {
      "main": [
        [
          {
            "node": "Chunk and Embed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk and Embed": {
      "main": [
        [
          {
            "node": "Mark Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Complete": {
      "main": [
        [
          {
            "node": "Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "Fa1qAUIxfJj6SjfY",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "e0609c16-2274-4d0c-b802-5c6580ab7796",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "139ce20edbcea09d90a1c08060a8c9b48d3304d3001c573472319fb5fdf7461e"
  },
  "id": "TEplz47oyEqE7CKz",
  "tags": []
}