workflows/05_knowledge_base/KB__IngestDocument.json
{
  "name": "KB__IngestDocument",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 1,
              "unit": "minutes"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1AcOJD5A3-Hap_mLJuMtWXHvn0sVx_NBd",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "875435e9-128a-4f4c-b167-c14cee554aa0",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        6048,
        2224
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "P4ItnczlmD9WHDuQ",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const file = $input.first().json;\n\nreturn [{\n  json: {\n    source: 'drive',\n    dedup_key: file.id,\n    event_type: 'kb_ingestion'\n  }\n}];"
      },
      "id": "d00d2b85-c2fd-4e97-9509-db4b67ac7a8b",
      "name": "Prepare Dedup Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6224,
        2224
      ]
    },
    {
      "parameters": {
        "workflowId": "rIRBjduPjTFXnn81",
        "options": {}
      },
      "id": "ae2d02b6-8928-443c-a6fb-56255e8fbaa4",
      "name": "Deduplicate",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        6432,
        2224
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isDuplicate }}",
              "value2": true
            }
          ]
        }
      },
      "id": "2a192f5d-12c9-491c-b5f7-10ce967d5541",
      "name": "Skip if Duplicate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        6656,
        2224
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $('Google Drive Trigger').item.json.id }}",
        "options": {}
      },
      "id": "689da634-7ba9-43d4-9c14-a0e61862b672",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 2,
      "position": [
        6880,
        2224
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "P4ItnczlmD9WHDuQ",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfor (let i = 0; i < items.length; i++) {\n  let text = '';\n  // Get mimeType from current item or fallback to trigger item\n  const mimeType = items[i].json.mimeType || $('Google Drive Trigger').item.json.mimeType;\n  \n  if (mimeType === 'application/vnd.google-apps.document' || mimeType === 'text/plain') {\n    if (items[i].binary && items[i].binary.data) {\n       // FIX 1: Use n8n's native binary helper to read the file off the disk securely\n       const buffer = await this.helpers.getBinaryDataBuffer(i, 'data');\n       text = buffer.toString('utf8');\n    }\n  }\n  items[i].json.extracted_text = text;\n  \n  // FIX 2: Map text/plain to 'sop' to satisfy your Postgres database constraints\n  let type = 'unknown';\n  if (mimeType === 'application/pdf') type = 'pdf';\n  else if (mimeType === 'application/vnd.google-apps.document') type = 'google_doc';\n  else if (mimeType === 'application/vnd.openxmlformats-officedocument.wordprocessingml.document') type = 'docx';\n  else if (mimeType === 'text/plain') type = 'sop'; \n  \n  items[i].json.source_type = type;\n  items[i].json.title = $('Google Drive Trigger').item.json.name;\n  items[i].json.source_file_id = $('Google Drive Trigger').item.json.id;\n}\n\nreturn items;"
      },
      "id": "97f2cc0a-aba5-47cf-8d39-3366e5805daa",
      "name": "Extract Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7104,
        2224
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst items = $input.all();\n\nreturn items.map(item => {\n  const text = item.json.extracted_text || '';\n  const hash = crypto.createHash('sha256').update(text).digest('hex');\n  item.json.content_hash = hash;\n  return item;\n});"
      },
      "id": "714656c9-2f11-45a8-b40e-24b35e33d7a5",
      "name": "Compute Content Hash",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7328,
        2224
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "documents",
        "filters": {
          "conditions": [
            {
              "keyName": "source_file_id",
              "condition": "eq",
              "keyValue": "={{ $json.source_file_id }}"
            }
          ]
        }
      },
      "id": "5d3b3b13-01b4-4d1d-a9a0-4a3895959866",
      "name": "Check Existing Document",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        7552,
        2224
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "goFlWTHKylYQ7NES",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.content_hash }}",
              "value2": "={{ $('Compute Content Hash').item.json.content_hash }}"
            }
          ]
        }
      },
      "id": "7f6e2a52-fce9-485d-8171-a2f08fc8b7f8",
      "name": "Document Changed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        7776,
        2224
      ]
    },
    {
      "parameters": {
        "jsCode": "const existing = $input.first().json;\nconst newDoc = $('Compute Content Hash').first().json;\n\nreturn [{\n  json: {\n    id: existing.id || null,\n    is_update: !!existing.id,\n    title: newDoc.title,\n    source_type: newDoc.source_type,\n    source_file_id: newDoc.source_file_id,\n    content_hash: newDoc.content_hash,\n    status: 'processing',\n    text_content: newDoc.extracted_text\n  }\n}];"
      },
      "id": "7f6751e0-8ece-4758-a697-2d783d001246",
      "name": "Prepare Document Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8000,
        2256
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.is_update }}",
              "value2": true
            }
          ]
        }
      },
      "id": "5b5d337c-f1a2-4574-9dff-1482dfdf736e",
      "name": "Is Update?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        8224,
        2256
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "embeddings_metadata",
        "filters": {
          "conditions": [
            {
              "keyName": "document_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "id": "aac8e9c8-573f-47b6-be88-9e8611c05238",
      "name": "Delete Old Embeddings Metadata",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        8448,
        2144
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "goFlWTHKylYQ7NES",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "documents",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Prepare Document Payload').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "title",
              "fieldValue": "={{ $('Prepare Document Payload').item.json.title }}"
            },
            {
              "fieldId": "source_type",
              "fieldValue": "={{ $('Prepare Document Payload').item.json.source_type }}"
            },
            {
              "fieldId": "content_hash",
              "fieldValue": "={{ $('Prepare Document Payload').item.json.content_hash }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $('Prepare Document Payload').item.json.status }}"
            }
          ]
        }
      },
      "id": "f32a303b-54c4-409f-b6ed-09ec138e7bb1",
      "name": "Update Document",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        8672,
        2144
      ],
      "credentials": {
        "supabaseApi": {
          "id": "goFlWTHKylYQ7NES",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dbRow = $input.first().json;\nconst payload = $('Prepare Document Payload').first().json;\n\nreturn [{\n  json: {\n    document_id: dbRow.id,\n    text_content: payload.text_content,\n    collection_name: 'knowledge_base'\n  }\n}];"
      },
      "id": "4b681511-431e-446a-953c-50032741ae97",
      "name": "Prepare for Chunking",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8896,
        2256
      ]
    },
    {
      "parameters": {
        "workflowId": "3zE30DDyaAnXJNPS",
        "options": {}
      },
      "id": "cce26ff3-436e-4eef-b407-c57a53b5d5cc",
      "name": "Chunk and Embed",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        9120,
        2256
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "documents",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Prepare for Chunking').item.json.document_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "completed"
            },
            {
              "fieldId": "chunk_count",
              "fieldValue": "={{ $json.chunk_count }}"
            },
            {
              "fieldId": "processed_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "f90f0056-9ad6-499c-8d14-ad997c7b6593",
      "name": "Mark Complete",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        9344,
        2256
      ],
      "credentials": {
        "supabaseApi": {
          "id": "goFlWTHKylYQ7NES",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    workflow_name: 'KB__IngestDocument',\n    log_type: 'action',\n    action: 'Ingest Document Completed',\n    status: 'success',\n    input_payload: { document_id: $('Prepare for Chunking').first().json.document_id },\n    output_payload: $input.first().json\n  }\n}];"
      },
      "id": "c77bb461-4b7e-4f51-aa8e-bde8a15d0592",
      "name": "Prepare Audit Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9552,
        2256
      ]
    },
    {
      "parameters": {
        "workflowId": "jCqmfSwQOsGcrJDa",
        "options": {}
      },
      "id": "237f4921-23d2-4a3a-aa79-03c6a93cd0fa",
      "name": "Audit Log",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        9744,
        2256
      ]
    },
    {
      "parameters": {
        "content": "## Ingest Document\n\nMonitors a Google Drive folder for new documents. When a file is created:\n1. Deduplicates to prevent reprocessing\n2. Downloads and extracts text content\n3. Computes content hash to detect changes\n4. Checks if document already exists in Supabase\n5. If changed: deletes old embeddings, upserts document record\n6. Chunks text and generates embeddings\n7. Marks document as complete and logs to audit trail",
        "height": 592,
        "width": 3968,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6000,
        1952
      ],
      "id": "52f76754-e10e-4f49-8858-fb69e92cfcb9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "tableId": "documents",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.title }}"
            },
            {
              "fieldId": "source_type",
              "fieldValue": "={{ $json.source_type }}"
            },
            {
              "fieldId": "source_file_id",
              "fieldValue": "={{ $json.source_file_id }}"
            },
            {
              "fieldId": "content_hash",
              "fieldValue": "={{ $json.content_hash }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            }
          ]
        }
      },
      "id": "fa28e289-549d-454a-947e-6144889c2789",
      "name": "Insert Document",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        8448,
        2352
      ],
      "credentials": {
        "supabaseApi": {
          "id": "goFlWTHKylYQ7NES",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {
    "Google Drive Trigger": [
      {
        "json": {
          "kind": "drive#file",
          "fileExtension": "txt",
          "copyRequiresWriterPermission": false,
          "md5Checksum": "c253db138c38f9904fca6b2ed087ba54",
          "writersCanShare": true,
          "viewedByMe": true,
          "mimeType": "text/plain",
          "parents": [
            "1AcOJD5A3-Hap_mLJuMtWXHvn0sVx_NBd"
          ],
          "thumbnailLink": "https://lh3.googleusercontent.com/drive-storage/AJQWtBPaZbBfVJ0SpcycmYekW30M1kLlUjb2B3bSwyLrEVPsKUv7dSXFdRFsNk_nItl97WgADKcoFMLE7PbIIzFZcJp6_mIyUcL3AoMqoaXVK7L-eWzXbw=s220",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/text/plain",
          "shared": false,
          "lastModifyingUser": {
            "displayName": "Edwin Bayog",
            "kind": "drive#user",
            "me": true,
            "permissionId": "16004367826657254104",
            "emailAddress": "edwinbayog07@gmail.com",
            "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocKJZuV-GGAxP9dSj215jMx5rURhlLXRKz1hxGoJCr9VC3d9Hbhmjg=s64"
          },
          "owners": [
            {
              "displayName": "Edwin Bayog",
              "kind": "drive#user",
              "me": true,
              "permissionId": "16004367826657254104",
              "emailAddress": "edwinbayog07@gmail.com",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocKJZuV-GGAxP9dSj215jMx5rURhlLXRKz1hxGoJCr9VC3d9Hbhmjg=s64"
            }
          ],
          "headRevisionId": "0B1CXVpeihGy_bzhqWmxKWHZwR1c3cFFiZjVqaFJHcU1ZU0NVPQ",
          "webViewLink": "https://drive.google.com/file/d/1_8PsGCEpX5xDrjqVKt0fGVTTqpJ5vfry/view?usp=drivesdk",
          "webContentLink": "https://drive.google.com/uc?id=1_8PsGCEpX5xDrjqVKt0fGVTTqpJ5vfry&export=download",
          "size": "572",
          "viewersCanCopyContent": true,
          "permissions": [
            {
              "id": "16004367826657254104",
              "displayName": "Edwin Bayog",
              "type": "user",
              "kind": "drive#permission",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocKJZuV-GGAxP9dSj215jMx5rURhlLXRKz1hxGoJCr9VC3d9Hbhmjg=s64",
              "emailAddress": "edwinbayog07@gmail.com",
              "role": "owner",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "hasThumbnail": true,
          "spaces": [
            "drive"
          ],
          "id": "1_8PsGCEpX5xDrjqVKt0fGVTTqpJ5vfry",
          "name": "Employee Data Access Policy — Standard Operating Procedure.txt",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "createdTime": "2026-05-29T06:41:15.400Z",
          "modifiedTime": "2026-05-29T06:43:56.000Z",
          "modifiedByMeTime": "2026-05-29T06:43:56.000Z",
          "viewedByMeTime": "2026-05-29T06:41:15.400Z",
          "quotaBytesUsed": "572",
          "version": "3",
          "originalFilename": "Employee Data Access Policy — Standard Operating Procedure.txt",
          "ownedByMe": true,
          "fullFileExtension": "txt",
          "isAppAuthorized": false,
          "capabilities": {
            "canChangeViewersCanCopyContent": true,
            "canEdit": true,
            "canCopy": true,
            "canComment": true,
            "canAddChildren": false,
            "canDelete": true,
            "canDownload": true,
            "canListChildren": false,
            "canRemoveChildren": false,
            "canRename": true,
            "canTrash": true,
            "canReadRevisions": true,
            "canChangeCopyRequiresWriterPermission": true,
            "canMoveItemIntoTeamDrive": true,
            "canUntrash": true,
            "canModifyContent": true,
            "canMoveItemOutOfDrive": true,
            "canAddMyDriveParent": false,
            "canRemoveMyDriveParent": true,
            "canMoveItemWithinDrive": true,
            "canShare": true,
            "canMoveChildrenWithinDrive": false,
            "canModifyContentRestriction": true,
            "canChangeSecurityUpdateEnabled": false,
            "canAcceptOwnership": false,
            "canReadLabels": false,
            "canModifyLabels": false,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canRemoveContentRestriction": false,
            "canDisableInheritedPermissions": false,
            "canEnableInheritedPermissions": true,
            "canChangeItemDownloadRestriction": true,
            "canStartApproval": false
          },
          "thumbnailVersion": "1",
          "modifiedByMe": true,
          "permissionIds": [
            "16004367826657254104"
          ],
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "sha1Checksum": "a7921528217d5fd4132280df1b123a415c6f6157",
          "sha256Checksum": "53f07d9d592996af99a68c5aef602b9aa438db2022a0ee3d00e3422c79bf7f4c",
          "inheritedPermissionsDisabled": false,
          "downloadRestrictions": {
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "clientEncryptionDetails": {
            "decryptionMetadata": {
              "wrappedKey": "",
              "kaclsId": "0",
              "aes256GcmChunkSize": "unset",
              "keyFormat": "unsetKeyFormat",
              "encryptionResourceKeyHash": ""
            }
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Prepare Dedup Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Dedup Input": {
      "main": [
        [
          {
            "node": "Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate": {
      "main": [
        [
          {
            "node": "Skip if Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip if Duplicate": {
      "main": [
        [],
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Extract Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text": {
      "main": [
        [
          {
            "node": "Compute Content Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Content Hash": {
      "main": [
        [
          {
            "node": "Check Existing Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing Document": {
      "main": [
        [
          {
            "node": "Document Changed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Changed?": {
      "main": [
        [],
        [
          {
            "node": "Prepare Document Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Document Payload": {
      "main": [
        [
          {
            "node": "Is Update?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Update?": {
      "main": [
        [
          {
            "node": "Delete Old Embeddings Metadata",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Embeddings Metadata": {
      "main": [
        [
          {
            "node": "Update Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Document": {
      "main": [
        [
          {
            "node": "Prepare for Chunking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Chunking": {
      "main": [
        [
          {
            "node": "Chunk and Embed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk and Embed": {
      "main": [
        [
          {
            "node": "Mark Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Complete": {
      "main": [
        [
          {
            "node": "Prepare Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Audit Log": {
      "main": [
        [
          {
            "node": "Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Document": {
      "main": [
        [
          {
            "node": "Prepare for Chunking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "Fa1qAUIxfJj6SjfY",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "versionId": "29b99274-876c-4eeb-bf8f-9d0b12508202",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "139ce20edbcea09d90a1c08060a8c9b48d3304d3001c573472319fb5fdf7461e"
  },
  "id": "TEplz47oyEqE7CKz",
  "tags": []
}