workflows/05_knowledge_base/KB__SemanticSearch.json
{
  "name": "KB__SemanticSearch",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/knowledge/search",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "81a57e66-b1de-4451-971e-0a32983d73f1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "8cce2829-91f5-4ef2-8c41-72a22faf26f9"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || {};\nconst query = body.query;\nif (!query) {\n  throw new Error(\"Query is required in the request body.\");\n}\nreturn {\n  query: query,\n  top_k: body.top_k || 5\n};"
      },
      "id": "2a066b3a-5a72-48b6-a4c4-85b5d7660887",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": "n8dUKBJ3yMSedWTk",
        "options": {}
      },
      "id": "a5bee055-b338-4328-9da9-55d95fa4059c",
      "name": "Embed Query",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  prompt: $json.query,\n  model_preference: 'embedding'\n};"
      },
      "id": "a7e2e732-9310-4e54-a3df-75e7e3c6b131",
      "name": "Prepare Embed Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeDatabaseFunction"
      },
      "id": "22d9daef-3a08-40f8-9621-57b044c1bdd1",
      "name": "Semantic Search (pgvector)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        896,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "goFlWTHKylYQ7NES",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all();\nlet contextStr = \"\";\nconst sources = [];\n\nresults.forEach((item, index) => {\n  const similarity = item.json.similarity || 0;\n  const chunk_text = item.json.chunk_text || '';\n  const document_id = item.json.document_id || 'unknown';\n  \n  contextStr += `Source ${index + 1} (similarity: ${similarity.toFixed(2)}):\\n${chunk_text}\\n\\n`;\n  \n  sources.push({\n    title: `Document ${document_id.substring(0,8)}`,\n    url: \"#\",\n    similarity: similarity,\n    excerpt: chunk_text.substring(0, 150) + \"...\"\n  });\n});\n\nif (contextStr === \"\") {\n  contextStr = \"No relevant documents found in the knowledge base.\";\n}\n\nreturn {\n  context: contextStr,\n  sources: sources,\n  query: $('Validate Input').item.json.query\n};"
      },
      "id": "4a759776-9053-4987-9cc8-a0db7c25f89b",
      "name": "Format Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": "n8dUKBJ3yMSedWTk",
        "options": {}
      },
      "id": "0d3a21fa-6592-4abd-b636-e1d96196a11f",
      "name": "Generate Answer",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1568,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  prompt: `Question: ${$json.query}\\n\\nContext from knowledge base:\\n${$json.context}\\n\\nAnswer the question using ONLY the provided context. If the context doesn't contain enough information to answer, say 'I don't have enough information to answer this question.' and suggest who to contact.`,\n  system_message: \"You are a knowledgeable assistant answering questions based on organizational documents. Only use information from the provided context. Cite your sources.\",\n  model_preference: \"fast\",\n  output_format: \"text\"\n};"
      },
      "id": "4e4bad21-7b18-4f5b-854c-e4a39eb78640",
      "name": "Prepare Answer Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const answer = $input.item.json.response;\nconst model_used = $input.item.json.model_used;\nconst formatContextNode = $('Format Context').item.json;\n\nreturn {\n  query: formatContextNode.query,\n  answer: answer,\n  sources: formatContextNode.sources,\n  model_used: model_used\n};"
      },
      "id": "1ff45b08-23cf-473d-8bab-0f69405da55c",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "47cc9446-7bde-4166-bcd3-ba7c3d3e07f6",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2016,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": "jCqmfSwQOsGcrJDa",
        "options": {}
      },
      "id": "14cebc04-72b1-48f1-a64e-5821121e38b6",
      "name": "Audit Log",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2464,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  workflow_name: \"KB__SemanticSearch\",\n  log_type: \"action\",\n  action: \"semantic_search\",\n  input_payload: { query: $('Validate Input').item.json.query },\n  output_payload: { sources_count: $('Format Context').item.json.sources.length },\n  status: \"success\"\n};"
      },
      "id": "e6c89d42-8136-4c07-9ca0-4b7868366db5",
      "name": "Prepare Audit Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Semantic Search\n\n**Purpose:** Provides semantic search over knowledge base documents using vector embeddings and generates AI-powered answers.\n\n**Process:**\n1. Receives search query via webhook\n2. Validates input and extracts query parameters\n3. Embeds query using AI model\n4. Performs semantic search in pgvector database\n5. Formats retrieved context with similarity scores\n6. Generates answer using AI with context\n7. Returns structured response with sources\n8. Logs search action to audit trail\n\n**Key Features:**\n- Vector similarity search for relevant documents\n- Context-aware AI responses\n- Source attribution and similarity scoring\n- Configurable top_k results\n- Full audit logging",
        "height": 688,
        "width": 2720,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -24,
        -480
      ],
      "id": "43d03b07-51ce-43c6-819a-52d4d5a7f569",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Prepare Embed Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Embed Input": {
      "main": [
        [
          {
            "node": "Embed Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embed Query": {
      "main": [
        [
          {
            "node": "Semantic Search (pgvector)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Semantic Search (pgvector)": {
      "main": [
        [
          {
            "node": "Format Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Context": {
      "main": [
        [
          {
            "node": "Prepare Answer Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Answer Input": {
      "main": [
        [
          {
            "node": "Generate Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Answer": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Prepare Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Audit Log": {
      "main": [
        [
          {
            "node": "Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "Fa1qAUIxfJj6SjfY",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "94ee41fc-22cd-45f9-b0e5-a0fab7acaea7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "139ce20edbcea09d90a1c08060a8c9b48d3304d3001c573472319fb5fdf7461e"
  },
  "id": "RtnEuxrm2KJFywKf",
  "tags": []
}