workflows/05_knowledge_base/KB__ChunkAndEmbed.json
{
  "name": "KB__ChunkAndEmbed",
  "nodes": [
    {
      "parameters": {},
      "id": "925a60f4-37ab-4183-bb1b-41f033edfdb5",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -416,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nitems.forEach(item => {\n  const textContent = item.json.text_content || '';\n  const documentId = item.json.document_id;\n  const collectionName = item.json.collection_name || 'knowledge_base';\n  \n  const paragraphs = textContent.split('\\n\\n');\n  const MAX_CHARS = 2000;\n  const OVERLAP_CHARS = 200;\n  \n  let currentChunk = '';\n  let chunkIndex = 0;\n  \n  for (let i = 0; i < paragraphs.length; i++) {\n    const p = paragraphs[i];\n    \n    if ((currentChunk.length + p.length) > MAX_CHARS && currentChunk.length > 0) {\n      // Save current chunk\n      results.push({\n        json: {\n          chunk_index: chunkIndex++,\n          chunk_text: currentChunk.trim(),\n          document_id: documentId,\n          collection_name: collectionName\n        }\n      });\n      \n      // Start new chunk with overlap\n      let overlapText = currentChunk.slice(-OVERLAP_CHARS);\n      const lastSpace = overlapText.indexOf(' ');\n      if (lastSpace !== -1 && lastSpace < OVERLAP_CHARS / 2) {\n         overlapText = overlapText.slice(lastSpace + 1);\n      }\n      currentChunk = overlapText + '\\n\\n' + p;\n    } else {\n      currentChunk += (currentChunk ? '\\n\\n' : '') + p;\n    }\n  }\n  \n  if (currentChunk.trim().length > 0) {\n    results.push({\n      json: {\n        chunk_index: chunkIndex++,\n        chunk_text: currentChunk.trim(),\n        document_id: documentId,\n        collection_name: collectionName\n      }\n    });\n  }\n});\n\nreturn results;"
      },
      "id": "ca8b06a8-b060-487f-a554-4661503cceca",
      "name": "Chunk Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        416
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "ab012f26-e5f1-4e9e-8421-c619629db060",
      "name": "Process Each Chunk",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        32,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    prompt: $json.chunk_text,\n    model_preference: 'embedding'\n  }\n};"
      },
      "id": "1cd24503-da20-4ddf-8936-509223bef6f1",
      "name": "Prepare Embedding Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        224
      ]
    },
    {
      "parameters": {
        "workflowId": "n8dUKBJ3yMSedWTk",
        "options": {}
      },
      "id": "8083fa7d-a5f3-48e7-9b32-c7bbdab4748a",
      "name": "Generate Embedding",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -416,
        224
      ]
    },
    {
      "parameters": {
        "tableId": "embeddings_metadata",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "document_id",
              "fieldValue": "={{ $('Process Each Chunk').first().json.document_id }}"
            },
            {
              "fieldId": "chunk_index",
              "fieldValue": "={{ $('Process Each Chunk').first().json.chunk_index }}"
            },
            {
              "fieldId": "chunk_text",
              "fieldValue": "={{ $('Process Each Chunk').first().json.chunk_text }}"
            },
            {
              "fieldId": "embedding",
              "fieldValue": "={{ $json.response }}"
            },
            {
              "fieldId": "collection_name",
              "fieldValue": "={{ $('Process Each Chunk').first().json.collection_name }}"
            }
          ]
        }
      },
      "id": "021a2a25-73e4-4710-b7e0-0db46a3051c4",
      "name": "Insert Embedding",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -192,
        224
      ],
      "credentials": {
        "supabaseApi": {
          "id": "goFlWTHKylYQ7NES",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    chunk_count: $('Chunk Text').all().length\n  }\n};"
      },
      "id": "2193aff5-c635-406d-a786-1cdf2b3515ff",
      "name": "Return Count",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        320
      ]
    },
    {
      "parameters": {
        "content": "## Chunk and Embed\n\n**Purpose:** Processes text documents by chunking them into manageable segments and generating embeddings for vector search.\n\n**Input:** Expects `text_content`, `document_id`, and optional `collection_name` from calling workflow.\n\n**Process:**\n1. Splits text into ~2000 character chunks with 200 character overlap\n2. Processes each chunk individually through the loop\n3. Generates embeddings via KB__GenerateEmbedding workflow\n4. Stores chunk text + embedding in Supabase `embeddings_metadata` table\n\n**Output:** Returns `chunk_count` for tracking.\n\n**Used by:** KB workflows that need to index documents for semantic search.",
        "height": 672,
        "width": 1312,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -848,
        -80
      ],
      "id": "c8ba2266-b553-4e9c-8b25-d7c6fd66169e",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Chunk Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk Text": {
      "main": [
        [
          {
            "node": "Process Each Chunk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Each Chunk": {
      "main": [
        [
          {
            "node": "Return Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Embedding Input": {
      "main": [
        [
          {
            "node": "Generate Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embedding": {
      "main": [
        [
          {
            "node": "Insert Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Embedding": {
      "main": [
        [
          {
            "node": "Process Each Chunk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "Fa1qAUIxfJj6SjfY",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "2c52aa9b-b8d1-4de1-8b60-14338d8c9655",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "139ce20edbcea09d90a1c08060a8c9b48d3304d3001c573472319fb5fdf7461e"
  },
  "id": "3zE30DDyaAnXJNPS",
  "tags": []
}